<tr>
    <td align="center" style="padding: 30px 20px 0 20px;">
        <img src="<?= $this->Url->build('/', true); ?>img/email/logo.png" alt="The Landsite" width="300" style="display: block; max-width: 100%;" />
    </td>
</tr>