/* Pages - 404 Error */
.error-page {
    background: $black;
    background-image: url(../img/error-page-pattern.png);

    .pace-progress, .pace:before {
        top: 0;
    }

    .error {
        margin: 0 auto;
        text-align: center;

        .error-code {
            line-height: 200px;
            padding: 50px 0;
            background: $bg_body;
            color: $black;
            font-size: 200px;
            text-shadow: 10px 10px 0px rgba(0,0,0,0.1);
        }
        .error-content {
            padding: 50px 0;

            .error-message {
                color: #fff;
                font-size: 24px;
                letter-spacing: 0.5px;
                margin-bottom: 5px;
            }
            .error-desc {
                font-size: 13px;
                color: #fff;
                color: rgba(255,255,255,0.5);
                letter-spacing: 1px;

                .error-details {
                    color: $white;
                    font-size: 16px;
                }
            }
        }
    }
    
}

.debug {
    padding: 100px 0;
    
    .error-message {
        margin-bottom: 30px;
        text-align: center;
        
        h2 {
            color: $silver;
        }
        .location {
            color: $silver_darker;
        }
    }
    
    .error-trace {
        margin-bottom: 30px; 
        
        .list-group-item {
            color: $silver_darker;
            background: rgba($black, 90%);
            border-color: #111111;
            font-family: $body_font_mono;
            
            &.h4 {
                color: $silver;
            }
        }
    }
    
    .error-info {
        color: $silver_darker;
        
        h3 {
            color: $silver;
        }
        
        .sql-query {
            margin-bottom: 15px;
            font-family: $body_font_mono;
            
            strong {
                color: $silver;
            }
        }
    }
}



