<div id="propertymodal" class="modal custom fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="heading"><?=$property->title?></div>
                <?= $this->Captcha->formStart(null, ['url' => ['_name' => '/properties/send-enquiry'], 'class' => 'form-row justify-content-center align-items-center']) ?>
                <?= $this->Form->control('property_id', ['type' => 'hidden', 'value' => $property->id, 'label' => false]) ?>
                <?= $this->Form->control('user_id', ['type' => 'hidden', 'value' => $this->request->getSession()->read('Auth.User.id'), 'label' => false]) ?>
                <?= $this->Form->control('recipient_name', ['type' => 'hidden', 'value' => $property->user->first_name, 'label' => false]) ?>
                <?= $this->Form->control('recipient_email', ['type' => 'hidden', 'value' => $property->user->email, 'label' => false]) ?>
                <?= $this->Form->control('title', ['type' => 'hidden', 'value' => $property->title, 'label' => false]) ?>
                <div class="col-12 col-sm-6">
                    <?= $this->Form->control('full_name', ['placeholder' => 'Full name', 'value' => $this->request->getSession()->read('Auth.User.first_name').' '.$this->request->getSession()->read('Auth.User.last_name'), 'label' => false, 'required']) ?>
                </div>
                <div class="col-12 col-sm-6">
                    <?= $this->Form->control('phone', ['placeholder' => 'Phone number', 'value' => $this->request->getSession()->read('Auth.User.phone'), 'label' => false, 'required']) ?>
                </div>
                <div class="col-12">
                    <?= $this->Form->control('email', ['placeholder' => 'Email', 'value' => $this->request->getSession()->read('Auth.User.email'), 'label' => false, 'required']) ?>
                </div>
                <div class="col-12">
                    <?= $this->Form->control('message', ['placeholder' => 'Message', 'rows' => 5, 'label' => false]) ?>
                </div>
                <div class="col-12 col-md bottominfo order-1 order-md-0">
                    <?php if (isset($statics['terms_and_conditions_label']) && !empty($statics['terms_and_conditions_label'])): ?>
                        <?= $statics['terms_and_conditions_label'] ?>
                    <?php endif; ?>
                </div>
                <div class="col-auto">
                    <?= $this->Form->submit('Enquire now', ['class' => 'btn btn-primary']) ?>
                </div>
                <?= $this->Captcha->formEnd(); ?>
            </div>
        </div>
    </div>
</div>