
.account .plans .box .plan span {
  font-size: 1.15rem;

}

@media (min-width: 768px) {

#div-gpt-ad-1560441078371-0 {
  margin-right: 20px;
}

#div-gpt-ad-1560441192257-0 {
   margin-right: 20px;
}
  
  body {
    font-size: 18px;
}
  .posts .box .dsc {
    max-height: 85px;
}
}

.scrollbox1 {
  display:none;
}

.property .right .heading {
  padding-right: 55px;
}

.btn-three {
    color: #e52338!important;
    background-color: #ffffff;
}

.beta-testing {
  display:none;
}

.custom-select-wrapper .custom-select.opened .custom-options {
  max-height: 1500px;
}

@media (min-width: 992px) {
.slider.big .content.slider {
      flex-direction: inherit;
  }
    .sabrina-margin {
margin-top:-100px!important;
} 
}

.slider.big .slogan .heading {
    font-size: 44px!important;
}

.slider .bgimage:after {
  background-color: rgba(0,0,0,0);
}

@media (max-width:992px) {
  .slider .bgimage:after {
         background-color: rgba(23, 58, 83, 0.7);
  }
}

@media (min-width: 1600px) {
.properties .sidebar .content ul {
    columns: 3;
}
}

@media (max-width:1440px){
header .btn {
    margin-left: 0px;
}
}

/*Banner*/
.project-image-gradient{
    background-color: rgba(18, 57, 83,0.74); /* Change for gradient overlay */
}
.sidebar .project-image-gradient{
      background-color: rgb(18, 57, 83,0.74);
}
.banner {
    height: initial;
    transition: box-shadow .2s ease-in-out;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
  	background-image: url(/files/media/Images-for-subpages/about-1.jpg); /*Change background image */
  	background-size: cover;
} 
.project-name img{
max-width: 250px!important; /* Set if the logo is large*/
}
.project-image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
}
.project-name {
    font-weight: 200;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 0 10px;
}
.project-name strong, .project-name h4, .project-name a{
color: #fff;
}
.project-name strong{
  font-size: 2em;
}
.project-name a{
  width: auto;
}
.project-name .row{
      display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.project-name p{
  margin-bottom:0px;
  color:#fff;
    margin-bottom:5px;
  font-size: 24px;
}
.project-name p:last-child{
margin-bottom:25px;
}
.project-name .banner-logo{
margin:20px 0;
}
.content-text .row{
      margin-bottom: 30px !important;
}


.fas.fa-heart {
  margin-right:10px;
}

a, a:hover {
    color: #e52338;
}

@media only screen and (max-width:767px) {

.slider.big .slogan .heading {
  font-size:40px!important;
}
}

.profile .sidebar2 hr {
  display: none!important;
}

.profile .sidebar2 .box {
    display: none!important;
}

.profile .adverts {
  margin-top: 20px;
}

.account .text ul li {
     font-size: 14px!important;
} 

.slider.big .slogan .heading {
  font-size: 70px;
}

.side-menu .modal-body .dropdown-menu.show {
     padding-left: 30px;
} 

.post .red-box-background {
   margin-top: 0px;
  margin-bottom: 0px;
}

.feefo {
  display: none;
}

.coloured-line {
    background: #e52338;
    width: 50px;
    height: 4px;
    border-radius: 2px;
    margin-bottom: 30px;
}

.grey-box {
    background-color: #efefef;
    padding: 20px;
    margin-bottom: 20px;
}

.red-box-background {
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 10px 50px rgba(0,0,0,.4);
    box-shadow: 0 10px 50px rgba(0,0,0,.4);
 margin-top: 50px;
}

.red-box-background a {
  margin-bottom: 15px !important;
  color: #123953 !important;
}

.red-box-background p {
    font-size: 26px;
      
}

.fakeclass {
  color: #ffffff;
}

.columns a {
   color: #6d6d6d;
}
.columns a:hover {
color: #e52338;
}
.stat-block.statistics {
    display: none !important;
}