
<?= $this->Form->create($loginban) ?>
<?= $this->element('Structure/action-buttons') ?>
<hr>
<div class="row">
    <div class="col-sm-6"><?= $this->Form->control('remote_addr'); ?></div>
    <div class="col-sm-6"><?= $this->Form->control('user'); ?></div>
    <div class="col-sm-6"><?= $this->Form->control('ban_expires'); ?></div>
</div>
<hr><?= $this->element('Structure/action-buttons') ?>
<?= $this->Form->end() ?>

