<?= $this->Form->create($product) ?>
<?= $this->element('Structure/action-buttons') ?>
<hr>
<div class="row">
    <div class="col-12"><?= $this->Form->control('name'); ?></div>
    <div class="col-12"><?= $this->Form->control('description'); ?></div>
</div>
<hr><?= $this->element('Structure/action-buttons') ?>
<?= $this->Form->end() ?>

