{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}

{% set fields = Bake.filterFields(fields, schema, modelObject) %}

{%- if('file' in fields or 'image' in fields or 'gallery' in fields) %}
<?= $this->Form->create(${{ singularVar }}, ['type' => 'file']); ?>
{%- else %}
<?= $this->Form->create(${{ singularVar }}) ?>
{%- endif %}

<?= $this->element('Structure/action-buttons') ?>
<hr>
<div class="row">
{% for field in fields if field not in primaryKey %}
    {%- if field not in ['deleted'] %}
        {%- if keyFields[field] %}
            {%- set fieldData = Bake.columnData(field, schema) %}
            {%- if fieldData.null %}
    <div class="col-sm-6"><?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true]); ?></div>
                {{- "\n" }}
            {%- else %}
    <div class="col-sm-6"><?= $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}]); ?></div>
                {{- "\n" }}
            {%- endif %}
        {%- elseif field not in ['created', 'modified', 'updated'] %}
            {%- set fieldData = Bake.columnData(field, schema) %}
            {%- if fieldData.type in ['date'] and fieldData.null %}
    <div class="col-sm-6"><?= $this->Form->control('{{ field }}', ['type' => 'text', 'empty' => true, 'class' => 'date']); ?></div>
                {{- "\n" }}
            {%- elseif fieldData.type in ['datetime', 'time'] and fieldData.null %}
    <div class="col-sm-6"><?= $this->Form->control('{{ field }}', ['type' => 'text', 'empty' => true, 'class' => 'datetime']); ?></div>
                {{- "\n" }}
            {%- elseif fieldData.type in ['text', 'longtext', 'mediumtext', 'tinytext'] and field != 'gallery' %}
    <div class="col-sm-12"><?= $this->Form->control('{{ field }}', ['class' => 'ckeditor']); ?></div>
                {{- "\n" }}
            {%- elseif fieldData.type == 'boolean' %}
    <div class="col-sm-2 d-flex align-items-center"><?= $this->Form->control('{{ field }}'); ?></div>
                {{- "\n" }}
            {%- else %}
                {%- if field in ['file', 'image'] %}
    <div class="col-sm-6"><?= $this->Form->control('{{ field }}', ['type' => 'file', 'required' => false]); ?></div>
                    {{- "\n" }}
                    {%- if action == 'edit' and field == 'image' %}
    <?php if (!empty(${{singularVar}}->{{field}})): ?>
        <div class="col-sm-6">
            <h6><?= __('Actual image') ?></h6>
            <img src="<?= $this->Images->scale(${{singularVar}}->{{field}}, 100, 100) ?>" class="img-responsive m-b-20">
        </div>
    <?php endif; ?>
                    {%- endif %}
                {%- elseif field == 'gallery' %}
                    {%-if action == 'edit' %}
    <div class="col-sm-12">
        <div class="form-group">
            <?= $this->Html->link(__('Manage Gallery'), ['controller' => 'Gallery', 'action' => 'manage', '{{modelClass}}', ${{singularVar}}->id, 'gallery'], ['class' => 'btn btn-primary']); ?>
        </div>
    </div>
                    {%- endif %}
                {%- else %}
    <div class="col-sm-6"><?= $this->Form->control('{{ field }}'); ?></div>
                {%- endif %}
                {{- "\n" }}
            {%- endif %}
        {%- endif %}
    {%- endif %}
{%- endfor %}
</div>
<hr>
{%- if associations.BelongsToMany %}
    {{- "\n" }}
<div class="row">
    {{- "\n" }}
    {%- for assocName, assocData in associations.BelongsToMany %}
    <div class="col-sm-12"><?= $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }}, 'multiple' => 'multiple', 'class' => 'select2']); ?></div>
        {{- "\n" }}
    {%- endfor %}
</div>
<hr>
{% endif %}
<?= $this->element('Structure/action-buttons') ?>
<?= $this->Form->end() ?>

