/* Component - Tab Content */

.tab-content {
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);

    .tab-heading {
        margin: -15px -15px 15px -15px;
        padding: 10px 15px;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background: $black_darker;
        color: #fff;

        .tab-title {
            line-height: 20px;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 13px;
            color: inherit;
        }
    }
}
.nav-tabs + .tab-content {
    border-radius: 0 0 3px 3px;
}