.modal .close:hover {
    box-shadow: none;
    color: #000000;
}

.ajax-loading {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000000;
    color: #ffffff
        opacity: 0.8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
}
.ajax-loading .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.files-list {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

.file-box {
    position: relative;
    width: 218px;
}

.file-box input {
    position: absolute;
    top: 5px;
    right: 5px;
}

.file-box .image .preview {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.file-view .image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.file-view .icon {
    width: 100%;
    height: 250px;
    padding-bottom: 100%;
    background-color: #f8f8f8;
    border: 1px solid #e7eaec;
    line-height: 100%;
    text-align: center;
}
.file-view .icon i {
    font-size: 80px;
    line-height: 250px;
}

.file-view .image .preview {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: #f8f8f8;
    border: 1px solid #e7eaec;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.file {
    position: relative;
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 3px;
    margin-right: 3px;
}

.file .icon, .file .image {
    height: 100px;
    overflow: hidden;
}

.file .icon {
    padding: 15px 10px;
    text-align: center;
}

.file .icon i {
    font-size: 70px;
    color: #dadada;
}

.file .file-name {
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #cccccc;
}

.file-name small {
    color: #888888;
}