.cake-error, .cake-debug-output {
    position: relative;
    z-index: 99999999;
    padding: 15px;
    background: $white;
}

.media {
    .pace-progress, .pace:before {
        top: 0;
    }
    .content-media {
        padding: 20px;
    }
    .footer {
        margin: 0 20px;
    }
}

th.actions, td.actions {
    text-align: right;
}

th.timestamp, td.timestamp {
    width: 130px;
    text-align: center;
}

.action-buttons {
    margin-bottom: 1rem;
}

.action-buttons ~ .action-buttons {
    margin-top: 1rem;
    margin-bottom: 0;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .pagination {
        margin: .5rem 0;
    }
}

.swal-footer {
    text-align: center;
}

.page-wrapper {
    margin-bottom: 30px;

    .nav {
        &.nav-tabs {
            background: $black;
        }

        .disabled {
            background: $white;
            color: $black;
            font-size: 16px;
            font-weight: bold;
            cursor: default;

            &:after {
                content: ':';
            }
        }

        & > li {
            & > a {
                color: $silver;
                box-shadow: 0px -3px 8px rgba(0, 0, 0, .15);
            }
        }
    }

    &.details {
        @media (max-width: 767px) {
            .btn-group {
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

                .btn,
                .btn-group {
                    width: 100%;
                }
            }
        }
    }
}

.dropdown-menu {
    padding: 0;

    .active {
        background: $black;
        color: $white;

        &:hover {
            background: $black-lighter;
            color: $silver_darker;
        }
    }
}

.btn-group > .btn-group {
    box-shadow: none;
}

.widget-card-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;

    .widget-card-cover {
        &.icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $silver;
            border: 1px solid darken($silver, 10%);
            color: $silver_darker;

            .file-name {
                color: $body_text_color;
            }
        }
    }

    .widget-card-options {
        position: absolute;
        right: 10px;
        bottom: -50px;
        transition: .2s all;
    }

    &:hover {
        .widget-card-options {
            bottom: 10px;
        }
    }
}

.CodeMirror {
    min-height: 500px;
    border: 1px solid #DDD;
}

.diffWrapper {
    .diff {
        outline: 1px solid #f0f0f0;
        height: 500px;
        overflow: auto;
        cursor: none;

        del {
            background-color: #ffc6c6;
        }

        ins {
            background-color: #c6ffc6;
            text-decoration: none;
        }
    }
}

.forms-list-filter, .delete-logs, .logs-filter {
    .input-group-text {
        height: 34px;
        border-radius: 2px 0px 0px 2px;
    }

    button, a {
        border-radius: 0px 2px 2px 0px;
    }

    .form-control {
        border-radius: 0px;
    }

    .input-group-append {
        button, a {
            border-left: none;
        }
    }
}

.form-group {
    &.required {
        label {
            color: darken($red, 30%);
            &:after {
                content: ' *';
            }
        }
    }
}

/* ----------------- Form builder --------------------*/
.formBuilderTable {
    .form-group {
        margin-bottom: 0px;
    }

    .position {
        max-width: 60px;
    }

    .btn-xs {
        position: relative;
        top: 5px;
    }

    td {
        text-align: center;
    }

    .optionsButton {
        display: none;
    }
}

.formsDataList {
    .not_view {
        td {
            font-weight: bold;
        }
    }
}

.file-manager {
    .file-manager-sidebar {
        .btn-group {
            border: 1px solid darken($silver, 10%);
            box-shadow: none;
            background: #f8f9fa;

            &.btn-block {
                padding: 0;
            }

            a {
                &.active {
                    box-shadow: none;
                }
            }
        }

        .list-group {
            .list-group-item {
                border-color: darken($silver, 10%);

                &.active {
                    border-color: darken($silver, 10%);
                    background: $white;
                    color: $brand-secondary;

                    &:hover {
                        color: $brand-primary;
                    }
                }
            }
        }

        .table {
            border: 1px solid darken($silver, 10%);
            border-radius: 3px;
            background: #ffffff;
        }
    }

    .panel {
        .panel-body {
            min-height: 340px;
        }
    }
}

.seo-analyser {
    .showHide {
        cursor: pointer;
    }

    .dropzone-seo-analyser {
        .dz-preview {
            display: none;
        }
    }

    .input-group-btn {
        .actions {
            display: none;
        }
    }
}

.cropper {
    .title-preview {
        margin-bottom: 42px;
    }
    .img-source {
        & > img {
            max-width: 100%;
        }
    }
    .img-preview {
        min-height: 400px;
        overflow: hidden;
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.loading-wrapper {
    position: relative;
    
    .loading {
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 0;
        background: rgba(255,255,255,0.9);
    }
}

.sparkline-chart {
    min-width: 200px;
}

.input-group-addon {
    .btn {
        margin:  -6px -12px;
    }
}
        