.lock-screen {
    width: 100%;
    height: 100%;
    background: #ffffff;
    
    &.hid {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -10002;
    }
    &.vis {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10002;
        background-color: #f3f3f4;
    }

    .lock-screen-header {
        background: #49575e url(../img/lock-screen.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -100px;
        padding: 100px 0 50px;
        position: relative;

        &:before {
            background: $black_darker;
        }

        .bg-cover {
            background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.75) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.75) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.75) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#bf000000',GradientType=0 );
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 0;
        }

        .title, .desc {
            position: relative;
            z-index: 1020;
        }
        .title {
            line-height: 40px;
            margin-bottom: 10px;
            font-size: 28px;
            font-weight: 300;
            color: #fff;
            text-align: center;
        }

        .desc {
            text-align: center;
            font-size: 13px;
            color: #fff;
            color: rgba(255,255,255,0.5);
            letter-spacing: 0.5px;
            margin-bottom: 50px;
        }
    }

    .lock-screen-content {
        color: #333;
        text-align: center;
        padding: 25px 0;

        .desc {
            margin: 25px;
            font-size: 13px;
        }
        .form {
            width: 300px;
            margin: 0 auto;
        }
        
        .input-group-addon {
            .btn {
                margin:  -6px -12px;
            }
        }
    }
}

.progress {
    transition: opacity 1s;
    
    &.progress-session {
        position: fixed;
        top: 58px;
        right: 0;
        left: 0;
        z-index: 1030;
        
        /*margin: 0 -15px;*/
        height: 1px;
        background: $white;
        .progress-bar {
            float: none;
            background: $brand-secondary;
        }
    }
}

@media (max-width: 767px) {
    .progress {
        &.progress-session {
            top: 99px;
        }
    }
}