.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    border: 1px solid #e7eaec;
    background: #f5f5f5;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-handle span {
    font-weight: bold;
}

.dd-handle:hover {
    background: #f0f0f0;
    cursor: grab;
    font-weight: bold;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item > button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
    content: '-';
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    z-index: 9999;
    pointer-events: none;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.nestable {
    .dd-item {
        
        & > button {
            width: 33px;
            height: 34px;
            margin-left: 30px;
            margin-right: 8px;
            margin-bottom: 0;
            color: #c1c1c1;
            font-family: Font Awesome\ 5 Free, Font Awesome\ 5 Pro, FontAwesome !important;
            font-weight: 900;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            &:before {
                content: "\f067";
            }
            &[data-action="collapse"]:before {
                content: "\f068";
            }
        }
    }
    .dd-handle-custom {
        position: absolute;
        left: 0;
        top: 0;
        width: 30px;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        color: #ddd;
        cursor: grab;
        
        &:before {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            line-height: 42px;
            text-align: center;
            text-indent: 0;
            color: $silver_darker;
            content: '\f58e';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }
    }
    .dd-content {
        display: block;
        height: auto;
        margin: 5px 0;
        padding: 5px 10px 5px 40px;
        border: 1px dashed $silver_darker;
        background: #f3f3f4;
        color: inherit;
        text-decoration: none;
        border-radius: 3px;
        box-sizing: border-box;
        &:hover {
            background: #f8f8f8;
        }
    }
    span.label {
        margin-right: 10px;
    }
}

.page-details {
    text-align: right;
}
.page-name {
    display: block;
    line-height: 28px;
    font-size: 16px;
    font-weight: normal;
}
.page-layout {
    float: right;
    display: inline-block;
    font-weight: normal;
    @media (max-width: 767px) {
        float: none;
    }
}
.page-actions {
    float: right;
    display: block;
    margin-left: 20px;
}
.page-contents {
    display: block;
    font-size: 13px;
    .page-content{
        display: block;
    }
    .content-type {
        display: inline-block;
        min-width: 60px;
        font-size: 12px;
        cursor: help;
    }
}