/* Variable */
/* @see https://www.materialpalette.com/colors Material Design Colors */

$bg_body: #eee !default;

$silver_lighter: #FAFAFA !default;
$silver: #EEEEEE !default;
$silver_darker: #BDBDBD !default;

$black: #212121 !default;
$black_darker: #000 !default;
$black_lighter: #212121 !default;

$red: #d32f2f !default;
$red_darker: #f44336 !default;
$red_lighter: #b71c1c !default;

$orange: #e64a19 !default;
$orange_darker: #bf360c !default;
$orange_lighter: #ff5722 !default;

$yellow: #ffeb3b !default;
$yellow_darker: #fdd835 !default;
$yellow_lighter: #fff176 !default;

$green: #388e3c !default;
$green_darker: #1b5e20 !default;
$green_lighter: #4caf50 !default;

$aqua: #00bcd4 !default;
$aqua_darker: #0097a7 !default;
$aqua_lighter: #4dd0e1 !default;

$blue: #03a9f4 !default;
$blue_darker: #0288d1 !default;
$blue_lighter: #4fc3f7 !default;

$purple: #9c27b0 !default;
$purple_darker: #7b1fa2 !default;
$purple_lighter: #ba68c8 !default;

$grey: #9e9e9e !default;
$grey_darker: #616161 !default;
$grey_lighter: #e0e0e0 !default;

$lime: #cddc39 !default;
$lime_darker: #afb42b !default;
$lime_lighter: #dce775 !default;

$teal: #009688 !default;
$teal_darker: #00796b !default;
$teal_lighter: #4db6ac !default;

$indigo: #3f51b5 !default;
$indigo_darker: #303f9f !default;
$indigo_lighter: #7986cb !default;

$pink: #c2185b !default;
$pink_darker: #880e4f !default;
$pink_lighter: #e91e63 !default;

$white: #ffffff !default;

// Text Color 
$body_text_color: #616161 !default;
$heading_text_color: #212121 !default;
$heading_small_text_color: #777 !default;
$form_label_color: #212121 !default;

// Font Setting
$body_font_size: 13px !default;
$body_font_family: 'Roboto', "Helvetica Neue",Helvetica,Arial,sans-serif !default;
$ie8_body_font_family: Arial,sans-serif !default;
$body_font_mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// sidebar
$sidebar-bg: #37474F;

// brand colors
$brand-primary: #464647;
$brand-primary-lighter: lighten($brand-primary, 10%);
$brand-primary-darker: darken($brand-primary, 10%);

$brand-secondary: $red;
$brand-secondary-lighter: lighten($brand-secondary, 10%);
$brand-secondary-darker: darken($brand-secondary, 10%);


$color-default-bg: $white;
$color-default-text: $black;
$color-default-bg-hover: darken($color-default-bg, 10%);

$color-inverse-bg: $black;
$color-inverse-text: $white;
$color-inverse-bg-hover: lighten($color-inverse-bg, 10%);

$color-primary-bg: $brand-primary;
$color-primary-text: $white;
$color-primary-bg-hover: darken($color-primary-bg, 10%);

$color-success-bg: $teal;
$color-success-text: $white;
$color-success-bg-hover: darken($color-primary-bg, 10%);

$color-warning-bg: $orange;
$color-warning-text: $white;
$color-warning-bg-hover: darken($color-primary-bg, 10%);

$color-danger-bg: $red_darker;
$color-danger-text: $white;
$color-danger-bg-hover: darken($color-primary-bg, 10%);

$color-info-bg: $aqua;
$color-info-text: $white;
$color-info-bg-hover: darken($color-primary-bg, 10%);
