<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0 auto; padding: 30px 20px 20px 20px max-width: 600px;"> <!-- max width is width of white box -->
    <tr>
        <td align="center" style="margin: 0 0 10px 0; font-family: 'Work Sans', sans-serif; font-size: 30px; color: #1e3b56; font-weight: normal;">
            Hi <?= $property->user->first_name ?>,
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px 20px 0 20px; color: #6d6d6d; font-family: 'Raleway', sans-serif; font-size: 16px;">
            Your property: <a href="<?= $_projectUrl.'properties/'.$property->urlname ?>" style="color: #e41a39; word-break: break-all;"><?= $property->title ?></a> is due to expire.<br>
            If you wish to continue showcasing your property and receiving enquiries, please log in to your account and publish it again.
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 10px 20px 0 20px; color: #6d6d6d; font-family: 'Raleway', sans-serif; font-size: 16px; ">
            <a href="http://<?= $host ?>/login" style="color: #e41a39; word-break: break-all;">My Account</a>
        </td>
    </tr>
</table>