{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{%- set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
<div class="table-responsive">
    <?php if (${{ pluralVar }}->count() > 0) : ?>
    <table cellpadding="0" cellspacing="0" class="table table-hover table-striped">
        <thead>
            <tr>
                {{- "\n" }}
                {%- for field in fields %}
                    {%- if field not in ['gallery', 'file', 'deleted']%}
                <th><?= $this->Paginator->sort('{{ field }}') ?></th>
                        {{- "\n" }}
                    {%- endif %}
                {%- endfor %}
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
                <tr>
            {{- "\n" }}
            {%- for field in fields %}
                {%- if field not in ['gallery', 'file', 'deleted']%}
                    {%- set isKey = false %}
                    {%- if associations.BelongsTo %}
                        {%- for alias, details in associations.BelongsTo if field == details.foreignKey %}
                            {%- set isKey = true %}
                    <td><?= ${{ singularVar }}->has('{{ details.property }}') ? $this->Html->link(${{ singularVar }}->{{ details.property }}->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action' => 'edit', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}]) : '' ?></td>
                            {{- "\n" }}
                        {%- endfor %}
                    {%- endif %}
                    {%- if isKey is not same as(true) %}
                        {%- set columnData = Bake.columnData(field, schema) %}
                        {%- if columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger'] %}
                            {%- if field == 'image' %}
                    <td>
                        <?php if(!empty(${{ singularVar}}->{{ field }})): ?>
                            <a href="<?= ${{ singularVar }}->{{ field }} ?>" class="image-link"><img src="<?= $this->Images->scale(${{ singularVar }}->{{ field }}, 50, 50) ?>" class="img-responsive"></a>
                        <?php endif; ?>
                    </td>
                                {{- "\n" }}
                            {%- elseif columnData.type in ['date', 'datetime', 'time', 'timestamp'] %}
                                {%- if field == 'created' %}
                    <td><?= $this->Html->badge('<i class="far fa-clock"></i> ' . h($this->Transform->date(${{ singularVar }}->{{ field }})), 'light') ?></td>
                                {%- elseif field == 'modified' %}
                    <td><?= $this->Html->badge('<i class="fa fa-clock"></i> ' . h($this->Transform->date(${{ singularVar }}->{{ field }})), 'light') ?></td>
                                {%- else %}
                    <td><?= h($this->Transform->date(${{ singularVar }}->{{ field }})) ?></td>
                                {%-endif%}
                                {{- "\n" }}
                            {%- elseif columnData.type == 'boolean' %}
                    <td>
                        <?= $this->Switcher->create('{{field}}', ['val' => ${{ singularVar }}->{{ field }}, 'data-id' => ${{ singularVar }}-> {{ primaryKey[0] }}]); ?>
                    </td>
                                {{- "\n" }}
                            {%- else %}
                    <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                                {{- "\n" }}
                            {%- endif %}
                        {%- else %}
                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                            {{- "\n" }}
                        {%- endif %}
                    {%- endif %}
                {%- endif %}
            {%- endfor %}
            {%- set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                    <td class="actions">
                        <div class="btn-group btn-group-xs">
                            <?= $this->Html->link('<i class="fa fa-edit"></i>', ['action' => 'edit', {{ pk|raw }}], ['class' => 'btn btn-primary', 'escape' => false, 'title' => __('Edit'), 'data-toggle' => 'tooltip', 'data-placement' => 'top']) ?>
                            <?= $this->Form->postLink('<i class="fa fa-times"></i>', ['action' => 'delete', {{ pk|raw }}], ['class' => 'btn btn-danger', 'confirm' => __('Please confirm removal {{ singularHumanName }} #{0}', {{ pk|raw }}), 'escape' => false, 'title' => __('Delete'), 'data-toggle' => 'tooltip', 'data-placement' => 'top']) ?>
                        </div>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <?php else : ?>
    <div class="well text-center text-warning"><?= __('There are no {{ pluralHumanName }} yet.') ?> <?= $this->Html->link(__('Add first {{ singularHumanName }}'), ['action' => 'add']) ?></div>
    <?php endif; ?>
</div>
<div class="row action-buttons">
    <div class="col text-right">
    <?= $this->Html->link(__('Add {{ singularHumanName }}'), ['action' => 'add'], ['class' => 'btn btn-primary']); ?>
    </div>
</div>
<?= $this->element('pagination') ?>
