<section class="feefo d-none">
    <div class="container">
        <div class="row head">
            <div class="col-12">
                <div class="heading">Customer Testimonials</div>
                <p>Lorem ipsum dolor sit amet, consectetur elit. Nullam laoreet, felis at iaculis varius, pulvinar felis, a ullamcorper felis turpis Donec at euismod sem.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <img src="img/image1.jpg" class="img-fluid" alt="IFRAME"><?php /* iframe instead of image */ ?>
            </div>
        </div>
    </div>
</section>