/**
 * App body
 */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(102, 102, 102, .1);
}

.no-content-padding .content {
    padding: 0;
}

/**
 * Dashboard header component
 */
.v-comp-dashboard-header .navbar-toggle {
    cursor: pointer;
}

.v-comp-dashboard-header .navbar-header .breadcrumb {
    position: relative;
    top: .95em;
    margin-left: 4.4em;
    font-size: 115%;
}

.v-comp-dashboard-header .navbar-nav a.icon .fas {
    display: inline-block;
    font-size: 130%;
}

.v-comp-dashboard-header .navbar-nav a.icon > span {
    font-size: 115%;
    margin-left: .2em;
}

.v-comp-dashboard-header .navbar-nav a.icon.logout > span {
    font-weight: bold;
    font-size: 115%;
}

.v-comp-dashboard-header .navbar-nav a.icon.text-danger {
    color: #e52338 !important;
}

@media all and (max-width: 530px) {
    .v-comp-dashboard-header .breadcrumb-item:not(.active) {
        display: none;
    }

    .v-comp-dashboard-header .breadcrumb-item.active:before {
        content: none;
    }
}

/**
 * Dashboard Sidebar component
 */
.v-comp-dashboard-sidebar {
    background: #113953;
    transition: all 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
}

.v-comp-dashboard-sidebar .nav > li.active > a,
.v-comp-dashboard-sidebar .nav > li.active > a:focus,
.v-comp-dashboard-sidebar .nav > li.active > a:hover {
    background: #0E2A3F;
}

.v-comp-dashboard-sidebar .logout {
    margin-left: 5px;
}

.page-with-wide-sidebar.no-sidebar .sidebar,
.page-with-wide-sidebar.no-sidebar .navbar-toggle {
    display: none;
}

.page-with-wide-sidebar.no-sidebar .content {
    margin-left: 30px;
    margin-right: 30px;
}

.sidebar .nav > li.nav-profile .image img {
    min-height: 40px;
    min-width: 40px;
}

.sidebar .sub-menu > li.active > a {
    color: rgba(255, 255, 255, .5);
}

.v-comp-dashboard-sidebar .nav .active .router-link-exact-active.router-link-active {
    color: #fff;
}

.v-comp-dashboard-sidebar .nav > li {
    border-bottom: 3px solid #133953;
}

.v-comp-dashboard-sidebar .nav > li.yellow {
    border-left: 4px solid #ECCC69;
}

.v-comp-dashboard-sidebar .nav > li.blue {
    border-left: 4px solid #3681C2;
}

.v-comp-dashboard-sidebar .nav > li.red {
    border-left: 4px solid #E52337;
}

.v-comp-dashboard-sidebar .nav > li.green {
    border-left: 4px solid #00A651;
}

.v-comp-dashboard-sidebar .nav > li > a {
    opacity: .7;
    font-weight: bold;
    cursor: pointer;
}

.v-comp-dashboard-sidebar .nav > li > .sub-menu > li a {
    padding-left: 33px;
    line-height: 1.8;
}

.v-comp-dashboard-sidebar .nav > li > .sub-menu > li a > i {
    margin-right: .6em;
    width: 1.2em;
}

.v-comp-dashboard-sidebar .nav > li > .sub-menu > li a > span {
    font-weight: bold;
}

.v-comp-dashboard-sidebar .nav > li.has-sub > .sub-menu {
    background: #0E2A3F;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav li.has-sub > .sub-menu {
    display: inline-block;
    width: auto;
    position: inherit;
    padding: 0;
    left: 0;
    background: inherit;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li > .sub-menu > li a {
    padding-left: 20px;
    padding-right: 12px;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li > .sub-menu > li a > i {
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 7px;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li > .sub-menu > li a > span {
    display: none;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .caret {
    display: none;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li > a {
    display: none;
}

.v-comp-dashboard-sidebar .nav > li.nav-profile {
    background: #113953;
}

.v-comp-dashboard-sidebar .nav > li.nav-profile > a {
    display: flex;
    flex-direction: row;
    opacity: 1;
    color: #fff;
}

.v-comp-dashboard-sidebar .nav > li.nav-profile > a > * {
    align-self: center;
}

.v-comp-dashboard-sidebar .nav > li.nav-profile > a .image {
    flex: 1;
    flex-grow: 0;
    min-width: 50px;
    max-width: 50px;
    margin: 0;
}

.v-comp-dashboard-sidebar .nav > li.nav-profile > a .info {
    padding-left: 1em;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li.nav-profile {
    display: block;
    padding: 5px;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li.nav-profile > a {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li.nav-profile > a .info {
    display: none;
}

.page-sidebar-minified .v-comp-dashboard-sidebar .nav > li.nav-profile > a .image {
    min-width: 40px;
    width: 40px;
    padding: 0;
    height: auto;
    display: inline-block;
    margin: 10px 0 0;
}

@media all and (max-width: 767px) {
    .page-with-wide-sidebar .v-comp-dashboard-sidebar.sidebar {
        left: 0;
        top: 52px;
    }

    .page-with-wide-sidebar.page-sidebar-minified:not(.page-with-right-sidebar) .content {
        margin-left: 60px !important;
        margin-right: 0 !important;
    }

    .v-comp-dashboard-header .navbar-header {
        border: 0;
    }

    .v-comp-dashboard-header .navbar-header .breadcrumb {
        position: absolute;
        margin-left: 1em;
    }
}

/**
 * Dashboard components base body
 */
.v-comp-module-body .page-header {
    margin-bottom: 8px;
}

.v-comp-module-body > .page-description {
    font-weight: normal;
    padding-left: 2px;
    opacity: .75;
    margin-bottom: 25px;
}

.v-comp-module-body .slug {
    font-size: .85em;
    margin: 3px 3px 3px 4px;
}

/**
 * Input Document Upload component
 */
.v-input-documents-upload {
}

.v-input-documents-upload .drop-zone {
    position: relative;
    width: 400px;
    min-height: 200px;
    outline: 2px dashed #aaa;
    outline-offset: -10px;
    color: dimgray;
    padding: 10px;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    background: #e8e9ec;
}

.v-input-documents-upload .drop-zone.disabled {
    background-image: none !important;
}

.v-input-documents-upload .drop-zone .input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
}

.v-input-documents-upload .drop-zone:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2), 0 6px 6px rgba(0, 0, 0, .23)
}

.v-input-documents-upload .files li a:hover i {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2), 0 6px 6px rgba(0, 0, 0, .23)
}

.v-input-documents-upload .drop-zone.not-empty:hover {
    outline: 2px dashed #aaa;
}

.v-input-documents-upload .drop-zone p.info {
    font-weight: bold;
}

.v-input-documents-upload .drop-zone p {
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.v-input-documents-upload .drop-zone p.uploading {
    margin: 0 auto;
    font-size: 2.5em;
    color: cadetblue;
}

.v-input-documents-upload .files {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
}

.v-input-documents-upload .files li {
    line-height: 2;
}

.v-input-documents-upload .files li span {
    font-weight: bold;
}

.v-input-documents-upload .files li a i {
    transition: all .1s ease-in-out;
    border-radius: 25px;
}

.v-input-documents-upload .files li a {
    cursor: pointer;
}

.v-input-documents-upload .files li a.delete {
    color: #e52338 !important;
    margin-left: .6em;
}

.v-input-documents-upload .files li a.sort-up {
    color: #123953;
}

.v-input-documents-upload .files li a.sort-up:after {
    content: '|';
    color: #ccc;
    margin-left: 1em;
}

.v-input-documents-upload .files li a.sort-down {
    color: #123953;
    margin-left: .5em;
    margin-right: 5px;
}

@media all and (max-width: 545px) {
    .v-input-documents-upload .drop-zone {
        width: 100%;
    }
}

/**
 * Input Image Upload component
 */
.v-input-image-upload {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

.v-input-image-upload .drop-box {
    outline: 2px dashed #aaa;
    outline-offset: -10px;
    color: dimgray;
    padding: 10px;
    height: 150px;
    width: 150px;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    transition: all .1s ease-in-out;
    background: #e8e9ec;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.v-input-image-upload .drop-box.not-empty {
    outline: none;
}

.v-input-image-upload .drop-box.disabled {
    background-image: none !important;
}

.v-input-image-upload .drop-box .input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
}

.v-input-image-upload .drop-box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2), 0 6px 6px rgba(0, 0, 0, .23)
}

.v-input-image-upload .drop-box.not-empty:hover {
    outline: 2px dashed #aaa;
}

.v-input-image-upload .drop-box p {
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.v-input-image-upload .drop-box p.uploading {
    margin: 0 auto;
    font-size: 2.5em;
    color: cadetblue;
}

/**
 * Latest Business Added component
 */
.v-comp-latest-businesses-added .panel-body {
    padding: 20px;
}

.v-comp-latest-businesses-added .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.v-comp-latest-businesses-added .list li {
    display: flex;
    margin-bottom: 20px;
}

.v-comp-latest-businesses-added .list li:last-child {
    margin-bottom: 0;
}

.v-comp-latest-businesses-added .list li > * {
    flex: 1;
}

.v-comp-latest-businesses-added .list li .logo {
    flex-grow: 0;
    padding: 0 18px 0 4px;
    max-height: 100px;
    min-width: 140px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-origin: content-box;
}

.v-comp-latest-businesses-added .list li .logo img {
    min-width: 120px;
}

.v-comp-latest-businesses-added .list li .info .title {
    color: #444;
    margin-bottom: .01rem;
}

.v-comp-latest-businesses-added .list li .info .desc {
    line-height: 1.2;
    margin: 0 0 3px;
}

/**
 * Summary component (payment panel)
 */
.summary .panel-footer {
    font-size: 115%;
    font-weight: bold;
}

.summary .panel-footer .sub {
    font-size: 90%;
}

.summary .panel-footer hr {
    margin-top: .3rem;
    margin-bottom: .3rem;
}

.summary .details {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    font-size: 115%;
    font-weight: bold;
    opacity: .75;
}

.summary .details td {
    padding: 5px;
}

.summary .details td:last-child {
    text-align: right;
}

.summary-discount .input-message {
    margin-bottom: 0;
    margin-left: 3px;
    margin-top: 4px;
}

.summary-discount .input-wrapper {
    position: relative;
}

.summary-discount .input-wrapper .icon {
    position: absolute;
    top: 12px;
    right: 170px;
    color: #777;
    font-size: 15px;
    opacity: .5;
}

.summary-discount .input-wrapper .icon.fa-times {
    cursor: pointer;
}

.summary-discount .input-wrapper .discount-code-apply {
    line-height: 23px;
    max-width: 150px;
}

/**
 * Responsive tabs nav (used in business profile and properties)
 */
@media all and (min-width: 1650px) and (max-width: 1900px) {
    .sw-main.sw-theme-ls > ul.step-anchor.nav-tabs > li > a {
        padding-right: 0;
        padding-left: 10px;
    }

    .sw-main > ul.step-anchor.nav-tabs > li > a .number + .info {
        padding-right: 9px;
    }

    .sw-main > ul.step-anchor.nav-tabs > li > a .number + .info {
        margin-left: 25px;
    }

    .sw-main > ul.step-anchor.nav-tabs > li > a .number {
        margin-right: 0;
    }
}

@media all and (min-width: 1200px) and (max-width: 1649px) {
    .sw-main > ul.step-anchor.nav-tabs > li > a .number {
        display: none;
    }

    .sw-main > ul.step-anchor.nav-tabs > li > a .number + .info {
        margin-left: 0;
        padding-right: 0;
    }
}

@media all and (max-width: 1485px) {
    .sw-main > ul.step-anchor.nav-tabs > li > a .info > .info-large {
        display: none;
    }

    .sw-main > ul.step-anchor.nav-tabs > li > a .info > .info-small {
        display: block;
    }
}

@media all and (min-width: 1485px) {
    .sw-main > ul.step-anchor.nav-tabs > li > a .info > .info-small {
        display: none;
    }
}

@media all and (min-width: 1200px) and (max-width: 1315px) {
    .sw-main.sw-theme-ls > ul.step-anchor.nav-tabs > li > a {
        padding: 10px;
    }
}

/**
 * Business Profile and Properties components
 */
.v-comp-property .description-counter,
.v-comp-business-listing .description-counter {
    position: relative;
    top: 2.5em;
    right: 3px;
}

.v-comp-property .description-editor .ql-editor,
.v-comp-business-listing .description-editor .ql-editor {
    height: 400px;
}

.v-comp-business-listing .product-suggest {
    width: 300px;
}

.v-comp-property .ad-option,
.v-comp-business-listing .ad-option {
    margin-bottom: 1rem;
}

.v-comp-business-listing .ad-option .hidden {
    visibility: hidden;
}

.v-comp-property .ad-option .label,
.v-comp-business-listing .ad-option .label {
    display: inline-block;
    padding: 6px 12px;
    font-size: 1.15em;
    border-radius: 0;
    line-height: 1.3em;
    background: #EFEFEF;
    color: #666;
    margin-right: 5px;
}

.v-comp-property .ad-option .switcher,
.v-comp-business-listing .ad-option .switcher {
    position: relative;
    top: 9px;
}

.v-comp-property .ad-option .btn > i,
.v-comp-business-listing .ad-option .btn > i {
    margin-right: .7em;
}

.v-comp-property .ad-option > div:nth-child(2),
.v-comp-business-listing .ad-option > div:nth-child(2) {
    display: flex;
}

.v-comp-property .ad-option > div:nth-child(2) > p,
.v-comp-business-listing .ad-option > div:nth-child(2) > p {
    align-self: center;
    margin: 0;
}

.v-comp-property .v-comp-payment .v-comp-progress-bar-indeterminate {
    bottom: -15px;
}

.v-comp-property .col-auto.separator {
    align-self: flex-end;
}

.v-comp-property .col-auto.separator span {
    font-size: 2em;
    font-weight: 200;
    opacity: .6;
}

.v-comp-property .extra-options .checkbox.checkbox-css label {
    white-space: nowrap;
}

@media all and (min-width: 768px) and (max-width: 1500px) {
    .v-comp-property .extra-options {
        padding-top: 13px !important;
    }
}

@media all and (max-width: 768px) {
    .v-comp-property .extra-options {
        padding-top: 0px !important;
        margin-bottom: 20px;
    }
}


/**
 * Input Images Upload component
 */
.v-input-images-upload .image {
    height: 150px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.v-input-images-upload .image.add {
    background-image: url(/members/assets/add-image-placeholder.png);
    background-size: 50%;
    cursor: pointer;
}


.v-input-images-upload .image:hover .remove,
.v-input-images-upload .image:hover .sorting {
    display: block;
}

.v-input-images-upload .image .remove {
    color: #FFF;
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

.v-input-images-upload .image .remove:hover {
    color: #fff;
}

.v-input-images-upload .image.add.disabled {
    background-image: none !important;
}

.v-input-images-upload .image.add .input-file {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
}

.v-input-images-upload .image.add:not(.disabled):hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2), 0 6px 6px rgba(0, 0, 0, .23)
}

.v-input-images-upload .image.add p {
    font-size: 1em;
    text-align: center;
    margin: 0;
    padding: 0;
}

.v-input-images-upload .image.add p.uploading {
    margin: 0 auto;
    font-size: 2.5em;
    color: cadetblue;
    position: relative;
    top: 35%;
}

.v-input-images-upload .sorting {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.v-input-images-upload .sorting a {
    display: inline-block;
    margin: 5px;
}

.v-input-images-upload .sorting a i {
    position: relative;
    top: 1px;
}

.v-input-images-upload .sorting .sort-up,
.v-input-images-upload .sorting .sort-down {
    transform: rotate(90deg);
}

.v-input-images-upload .sorting .sort-down {
    margin-right: 0;
}

/**
 * Insights component (data grid)
 */
.v-comp-articles .vuetable-col-actions {
    width: 8%;
}

.v-comp-articles .vuetable-col-modified,
.v-comp-articles .vuetable-col-created,
.v-comp-articles .vuetable-col-publish_date {
    width: 12%;
}

.v-comp-articles .vuetable-col-status {
    width: 8%;
}

.v-comp-articles .vuetable-col-image {
    width: 13%;
}

.v-comp-articles .vuetable-col-id {
    width: 5%;
}

.v-comp-articles .vuetable-slot:nth-child(8) {
    width: 85px;
}

.v-comp-articles .vuetable-td-image img {
    height: 50px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .v-comp-articles .vuetable td:nth-of-type(1):before {
        content: 'ID';
    }

    .v-comp-articles .vuetable td:nth-of-type(2):before {
        content: 'Title';
    }

    .v-comp-articles .vuetable td:nth-of-type(3):before {
        content: 'Image';
    }

    .v-comp-articles .vuetable td:nth-of-type(4):before {
        content: 'Status';
    }

    .v-comp-articles .vuetable td:nth-of-type(5):before {
        content: 'Publication Date';
    }

    .v-comp-articles .vuetable td:nth-of-type(6):before {
        content: 'Created Date';
    }

    .v-comp-articles .vuetable td:nth-of-type(7):before {
        content: 'Modified Date';
    }

    .v-comp-articles .vuetable td:nth-of-type(8):before {
        content: 'Visibility';
    }

    .v-comp-articles .vuetable td:nth-of-type(9):before {
        content: 'Actions';
    }

    .v-comp-business-enquiries .vuetable td:nth-of-type(1):before {
        content: 'Enquiry ID';
    }

    .v-comp-business-enquiries .vuetable td:nth-of-type(2):before {
        content: 'Business Title';
    }

    .v-comp-business-enquiries .vuetable td:nth-of-type(3):before {
        content: 'Name';
    }

    .v-comp-business-enquiries .vuetable td:nth-of-type(4):before {
        content: 'E-mail';
    }

    .v-comp-business-enquiries .vuetable td:nth-of-type(5):before {
        content: 'Phone';
    }

    .v-comp-business-enquiries .vuetable td:nth-of-type(6):before {
        content: 'Date received';
    }

    .v-comp-business-enquiries .vuetable td:nth-of-type(7):before {
        content: 'Actions';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(1):before {
        content: 'Location';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(2):before {
        content: 'Min Price';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(3):before {
        content: 'Max Price';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(4):before {
        content: 'Property Type';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(5):before {
        content: 'Radius';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(6):before {
        content: 'Attrs';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(7):before {
        content: 'Receive Alerts?';
    }

    .v-comp-alerts-searches .property-searches .vuetable td:nth-of-type(8):before {
        content: 'Actions';
    }

    .v-comp-alerts-searches .business-searches .vuetable td:nth-of-type(1):before {
        content: 'Professional Type';
    }

    .v-comp-alerts-searches .business-searches .vuetable td:nth-of-type(2):before {
        content: 'Location';
    }

    .v-comp-alerts-searches .business-searches .vuetable td:nth-of-type(3):before {
        content: 'Keyword';
    }

    .v-comp-alerts-searches .business-searches .vuetable td:nth-of-type(4):before {
        content: 'Radius';
    }

    .v-comp-alerts-searches .business-searches .vuetable td:nth-of-type(5):before {
        content: 'Receive Alerts?';
    }

    .v-comp-alerts-searches .business-searches .vuetable td:nth-of-type(6):before {
        content: 'Actions';
    }

    .v-comp-property-enquiries .vuetable td:nth-of-type(1):before {
        content: 'Enquiry ID';
    }

    .v-comp-property-enquiries .vuetable td:nth-of-type(2):before {
        content: 'Property Title';
    }

    .v-comp-property-enquiries .vuetable td:nth-of-type(3):before {
        content: 'Name';
    }

    .v-comp-property-enquiries .vuetable td:nth-of-type(4):before {
        content: 'E-mail';
    }

    .v-comp-property-enquiries .vuetable td:nth-of-type(5):before {
        content: 'Phone';
    }

    .v-comp-property-enquiries .vuetable td:nth-of-type(6):before {
        content: 'Date received';
    }

    .v-comp-property-enquiries .vuetable td:nth-of-type(7):before {
        content: 'Actions';
    }
}

/**
 * Insight component (add/edit)
 */
.v-comp-article .v-input-image-upload {
    max-width: 270px;
}

.v-comp-article .v-input-image-upload .drop-box {
    height: 170px;
    width: 250px;
}

.v-comp-article .status {
    font-size: 1em;
    margin-left: .8em;
}

/**
 * Status colours
 */
.status {
    color: #fff;
}

.status-draft,
.status-orange {
    background-color: #f7941d;
}

.status-text-draft,
.status-text-orange {
    color: #f7941d;
}

.status-rejected {
    background-color: #ff0000;
}

.status-text-rejected {
    color: #ff0000;
}

.status-pending {
    background-color: #00a8f3;
}

.status-text-pending {
    color: #00a8f3;
}

.status-published {
    background-color: #00a650;
}

.status-text-published {
    color: #00a650;
}

.status-expired {
    background-color: #e52439;
}

.status-text-expired {
    color: #e52439;
}

.text-landsite-red {
    color: #e52338 !important;
}

/**
 * Properties module
 */
.v-comp-properties .search-wrapper {
    background: #e2e2e2;
    margin: 0;
    padding: 20px;
    position: relative;
}

.v-comp-properties .search-input {
    background: #fff;
}

.v-comp-properties .reset-search {
    position: absolute;
    font-size: 1.2em;
    line-height: 38px;
    right: 23px;
    width: 25px;
    text-align: center;
    cursor: pointer;
}

.v-comp-properties .no-data {
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 30%;
}

.v-comp-properties .add-btn i {
    font-size: 2em;
    margin-bottom: 7px;
    margin-top: 7px;
    line-height: 29px;
}

@media all and (max-width: 767px) {
    .v-comp-properties .search-wrapper {
        margin-top: 20px;
    }
}

/**
 * Property List Item / Business List Item (component)
 */
.v-comp-panel-list-item > .panel-body {
    padding: 0;
}

.v-comp-panel-list-item .photo,
.v-comp-panel-list-item .details {
    padding: 15px;
}

.v-comp-panel-list-item .photo {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.v-comp-panel-list-item .details {
    position: relative;
}

.v-comp-panel-list-item .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    min-height: 215px;
    position: relative;
}

.v-comp-panel-list-item .image .cost,
.v-comp-panel-list-item .image .under-offer {
    text-align: center;
    font-size: 1em;
    line-height: 2.5em;
    color: #fff;
}

.v-comp-panel-list-item .image .cost {
    background: #113953;
    display: inline-block;
    min-width: 45%;
    padding: 0 10px;
}

.v-comp-panel-list-item .image .under-offer {
    display: block;
    background: #E52338;
    width: 45%;
    min-width: 45%;
    margin-top: .5rem;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0 5px;
}

.v-comp-panel-list-item .image .status {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.15em;
    line-height: 2.5;
    font-weight: bold;
}

.v-comp-panel-list-item .details {
    padding-right: 25px;
}

.v-comp-panel-list-item .details .title {
    color: #6b6b6b;
    margin-bottom: 3px;
}

.v-comp-panel-list-item .details .date {
    color: #3f7fbb;
}

.v-comp-panel-list-item .details .headline {
}

.v-comp-panel-list-item .details .buttons {
    position: absolute;
    bottom: 20px;
}

.v-comp-panel-list-item .details hr {
    background: #cdcdcd;
    margin: 0.8rem 0;
}

.v-comp-panel-list-item .buttons .action {
    margin-right: 1em;
}

.v-comp-saved-properties .v-comp-panel-list-item .buttons .action.status-expired {
    background-color: #e52439;
    border-color: #e52439;
}

.v-comp-panel-list-item .buttons .chart {
    color: #00a650;
}

.v-comp-panel-list-item .buttons .edit,
.v-comp-panel-list-item .buttons .view {
    color: #f7941d;
}

.v-comp-panel-list-item .buttons .delete {
    color: #e52439;
}

.v-comp-panel-list-item .buttons .btn.btn-icon-fa,
.v-comp-panel-list-item .buttons .btn.btn-icon-fa:active,
.v-comp-panel-list-item .buttons .btn.btn-icon-fa:hover:active {
    box-shadow: none !important;
}

.v-comp-panel-list-item .stats.top {
    position: absolute;
    right: 15px;
    top: 15px;
}

.v-comp-panel-list-item .stats.top .top > div {
    padding: 5px 20px;
}

.v-comp-panel-list-item .stats {
    position: relative;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 0;
}

.v-comp-panel-list-item .stats:before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 75%;
    background: #cdcdcd;
    bottom: 0;
}

.v-comp-panel-list-item .stats .chart {
    padding: 10px;
    height: 205px;
}

.v-comp-panel-list-item .stats .chart .chart-label {
    color: #000;
    pointer-events: none;
    position: absolute;
    text-align: center;
    left: -10px;
    right: 0;
    top: 50%;
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

.v-comp-panel-list-item .stats .top > div {
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.v-comp-panel-list-item .stats .top > div:nth-child(1) {
    background-color: #1e3c56;
}

.v-comp-panel-list-item .stats .top > div:nth-child(2),
.v-comp-panel-list-item .stats .top > div.rent {
    background-color: #3671a9;
}

.v-comp-panel-list-item .stats .top span {
    display: block;
    width: 100%;
    line-height: 1.3;
}

.v-comp-panel-list-item .stats .top span.price {
    font-size: 1.4em;
}

@media all and (max-width: 767px) {
    .v-comp-panel-list-item .details .buttons {
        position: static;
        margin-left: 10px;
    }

    .v-comp-panel-list-item .buttons .btn {
        margin-bottom: 10px;
    }

    .v-comp-panel-list-item .details {
        padding: 0 35px 20px;
    }

    .v-comp-panel-list-item .stats.top {
        right: 5px;
        top: 18px;
    }
}

/**
 * Add property module
 */
.v-comp-add-property .sale-box {
    background-color: #efefef;
    padding: 20px;
}

.v-comp-add-property .sale-box img {
    display: inherit;
    margin: 1em auto 0;
}

.v-comp-add-property .sale-box .title {
    margin-top: 2.2em;
    font-weight: bold;
    font-size: 15px;
}

.v-comp-add-property .sale-box .title,
.v-comp-add-property .sale-box .desc {
    color: #6e6e6e;
}

.v-comp-add-property .sale-box .btn {
    display: inherit;
    margin: 1.5em auto 0;
    max-width: 200px;
}

.v-comp-add-property .sale-box .and {
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
}

@media all and (max-width: 767px) {
    .v-comp-add-property .sale-box .btn {
        max-width: none;
    }
}

/**
 * Opening Hours component (time from, to and days of week)
 */
.v-comp-opening-hours .btn-icon.add,
.v-comp-opening-hours .btn-icon.delete {
    color: #FFF;
    position: relative;
    top: 0.4em;
}

.v-comp-opening-hours .btn-icon:hover {
    color: #fff;
}

.v-comp-opening-hours .flatpickr-input {
    display: inline-block;
    width: 70px;
    margin-left: 10px;
}

@media all and (max-width: 767px) {
    .v-comp-opening-hours .flatpickr-input {
        width: 100%;
    }
}

/**
 * Articles toolbar for datagrid
 */

@media all and (max-width: 1730px) {
    .v-comp-articles-datagrid-toolbar > div > div {
        margin-bottom: 10px;
    }
}

/**
 * Images Carousel component
 */
.v-comp-images-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.v-comp-images-carousel .carousel {
    overflow: hidden;
    width: 100%;
    height: 25em;
    display: flex;
}

.v-comp-images-carousel .slide:first-of-type {
    opacity: 1;
}

.v-comp-images-carousel .slide {
    flex: 0 0 100%;
    height: 100%;
    width: 100%;
    transition: all 350ms ease-in-out;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.v-comp-images-carousel .slide img {
    height: 100%;
}

.v-comp-images-carousel .carousel-controls {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -3em;
}

.v-comp-images-carousel:hover .carousel-control {
    color: #fff !important;
}

.v-comp-images-carousel .carousel-control {
    transition: all 350ms ease-in-out;
    position: absolute;
    cursor: pointer;
    font-size: 3em;
    margin: 0 .5em;
}

.v-comp-images-carousel .carousel-control.prev {
    left: 0;
}

.v-comp-images-carousel .carousel-control.next {
    right: 0;
}

.v-comp-images-carousel .counter {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 5px 10px;
}

.v-comp-images-carousel .counter > i {
    margin-right: 4px;
}

/**
 * Property/Business Stats module
 */
.v-comp-stats-layout .status {
    height: 50px;
    line-height: 55px;
    position: relative;
}

.v-comp-stats-layout .status .price {
    display: inline-block;
    width: 60%;
    text-align: center;
    height: 100%;
    font-size: 1.8em;
    font-weight: bold;
    line-height: .9;
    vertical-align: middle;
}

.v-comp-stats-layout .status .price .qualifier {
    font-size: 13px;
    font-weight: normal;
}

.v-comp-stats-layout .status .price.one {
    height: auto;
    vertical-align: unset;
}

.v-comp-stats-layout .status .price > small {
    display: inline-block;
    width: 100%;
}

.v-comp-stats-layout .status .status-text {
    font-size: 18px;
    text-transform: uppercase;
    color: #6c757d;
    background-color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    position: absolute;
    top: 7px;
    right: 8px;
    height: 35px;
    line-height: 27px;
}

.v-comp-stats-layout .details .message {
    margin: 0;
    padding: 1em .5em;
    color: #ff0000;
    font-weight: 600;
}

.v-comp-stats-layout .status .status-text i {
    margin-right: 5px;
}

.v-comp-stats-layout .details {
    background-color: #EFEFEF;
    padding: 20px;
    padding-top: 0;
}

.v-comp-stats-layout .details hr {
    background: #CFCFCF;
    margin-top: 0;
}

.v-comp-stats-layout .details .location {
    color: #6D6D6D;
    font-size: 17px;
    margin: 0;
    line-height: 3;
}

.v-comp-stats-layout .details .headline {
    font-weight: 400;
    font-size: 1.035em;
}

.v-comp-stats-layout .chart-panel {
    margin-bottom: 100px;
}

.v-comp-stats-layout .chart-wrapper {
    min-height: 450px;
    display: flex;
}

.v-comp-stats-layout .chart-wrapper .rotate-device {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: -60px auto 0;
}

.v-comp-stats-layout .chart-wrapper > * {
    flex: 1;
}

.v-comp-stats-layout .chart-wrapper > p {
    align-self: center;
}

.v-comp-stats-layout .counter-wrapper {
    background-color: #E52439;
    color: #fff;
    padding: 18px 20px;
    margin-top: 15px;
    position: absolute;
    left: 0;
    margin-left: 0;
    margin-right: 0;
}

.v-comp-stats-layout .counter-wrapper .counter-msg {
    color: #fff;
}

.v-comp-stats-layout .counter-wrapper .counter-info {
    font-size: 11px;
    line-height: 1.2;
    margin: 0;
}

.v-comp-stats-layout .counter-wrapper .counter-info > .link {
    font-weight: bold;
    cursor: pointer;
}

.v-comp-stats-layout .counter-wrapper .counter {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v-comp-stats-layout .counter-wrapper .counter .i {
    border: 5px solid #fff;
    height: 55px;
    width: 55px;
    border-radius: 30px;
    display: flex;
    flex: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.v-comp-stats-layout .counter-wrapper .counter .i > span {
    font-size: 21px;
    line-height: 1;
}

@media all and (max-width: 767px) {
    .v-comp-stats-layout .counter-wrapper {
        position: static;
    }

    .v-comp-stats-layout .counter-wrapper .counter {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media all and (max-width: 550px) {
    .v-comp-stats-layout .counter-wrapper {
        padding: 14px 8px;
    }

    .v-comp-stats-layout .counter-wrapper .counter {
        flex-direction: column;
    }

    .v-comp-stats-layout .counter-wrapper .counter .i {
        margin-bottom: 10px;
    }

    .v-comp-stats-layout .counter-wrapper .counter .i > span {
        font-size: 16px;
    }
}

.v-comp-module-body > .alert.no-mandatory-data {
    width: 400px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    margin: 0 auto 0 -150px;
}

.v-comp-property-stats .under-offer {
    display: inline-block;
    background: #E52338;
    color: #fff;
    margin-top: .5rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 10px;
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    top: 22px;
}

/**
 * Common rules for all module components
 */
.sw-main > ul.step-anchor.nav-tabs > li > a .number + .info {
    padding-right: 5px;
}

.sw-main.sw-theme-ls > ul.step-anchor.nav-tabs > li.active {
    box-shadow: 2px -2px 10px rgba(0, 0, 0, .15);
}

.sw-main.sw-theme-ls > ul.step-anchor.nav-tabs > li.active > a {
    background: #113953 !important;
}

.sw-main.sw-theme-ls > ul.step-anchor.nav-tabs > li > a {
    font-size: 13px;
    padding: 10px 13px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sw-main.sw-theme-ls > ul.step-anchor.nav-tabs > li.active > a .number {
    background: #2196F3;
}

.sw-main.sw-theme-ls .sw-container .step-content {
    padding: 0;
}

.tab-content.panel > .btn-toolbar.sw-toolbar.sw-toolbar-bottom {
    padding-left: 5px !important;
    padding-right: 0 !important;
    padding-bottom: 5px !important;
    background: none !important;
}

@media all and (max-width: 767px) {
    .responsive-toolbar-wrapper > * {
        text-align: left !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media all and (max-width: 450px) {
    .responsive-toolbar-wrapper > div > .btn {
        font-size: 77%;
        margin-left: 0 !important;
    }
}

.tab-content {
    padding: 30px;
}

.tab-content > .tab-pane {
    display: block;
}

.nav-tabs .nav-link {
    cursor: pointer;
}

.nav-tabs .nav-link.disabled {
    cursor: default;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border: 2px solid #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #6D6D6D;
}

ul.ticklist {
    list-style: none;
    padding: 0 0 0 2.4em;
}
ul.ticklist li {
    list-style: none;
    position: relative;
    margin-top: 1.5em;
}
ul.ticklist li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    padding: .3em;
    border-radius: 50%;
    color: #279875;
    border: 1px solid #279875;
    content: "\f00c";
    left: -2.3em;
    position: absolute;
    top: -.2em;
    line-height: 1;
}

.page-header, .page-header small {
    font-weight: 500;
}

.form-control,
.form-control-sm {
    border: 0;
    border-radius: 5px;
    background-color: #e8e9ec;
}

.form-control {
    padding: 8px 15px;
    width: 100%;
    height: 38px;
}

.form-control ~ .clear-picker {
    position: absolute;
    right: 11px;
    top: 0;
    font-size: 1em;
    cursor: pointer;
    height: 38px;
    width: 20px;
    line-height: 38px;
    text-align: center;
}

.input-group-append .btn.action {
    border-left: 0;
    margin-left: 10px;
}

.input-feedback:not(:empty) {
    display: inline-block;
}

.checkbox.checkbox-css label,
.radio.radio-css label {
    cursor: pointer;
}

.checkbox.checkbox-css input:checked + label:before,
.radio.radio-css input:checked + label:before {
    background: #e52338;
    border-color: #e52338;
}

select.form-control:not([size]):not([multiple]) {
    height: 38px;
}

.vue-treeselect__control {
    height: 38px;
    border: 1px solid #e8e9ec;
    background: #e8e9ec !important;
}

.vue-treeselect:not(.vue-treeselect--disabled):not(.vue-treeselect--focused) .vue-treeselect__control:hover {
    border: 1px solid #e8e9ec !important;
}

.form-row hr {
    border: none;
    height: 1px;
    background: #e8e9ec;
    width: 98%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.input-counter {
    line-height: 2;
    font-weight: bold;
    color: #999;
}

.btn[disabled]:hover {
    box-shadow: inherit;
}

.btn-large {
    text-transform: uppercase;
    border-radius: 25px;
    padding: 6px 20px;
    font-size: 15px;
}

.btn-large > i {
    margin-right: 6px;
}

.sw-main .sw-toolbar .btn.btn-large {
    border-radius: 25px !important;
}

.color-red-ls {
    color: #e52338;
}

.btn.btn-icon-fa {
    width: auto;
    height: auto;
    box-shadow: none;
    line-height: 1;
    font-size: .65em;
    padding: 0;
}

.btn.btn-icon-fa .fa-stack-1x {
    font-size: .85em;
}

.btn.btn-icon-fa .fa-edit.fa-stack-1x {
    left: 1px;
}

.btn.btn-primary {
    color: #fff !important;
    background-color: #e52338;
    border-color: #e52338;
}

.btn.btn-secondary {
    color: #fff !important;
    background-color: #123953;
    border-color: #123953;
}

.sw-main.sw-theme-ls.panel,
.sw-main.sw-theme-ls .nav-tabs {
    background: transparent;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.panel .panel-footer.gray-bg {
    background-color: #EFEFEF;
    border-color: #D3D3D3;
}

.panel.panel-ls .panel-heading {
    background-color: #113953;
}

.panel.panel-ls .panel-heading .panel-title {
    color: #fff;
    font-size: 15px;
}

.panel.panel-ls .panel-heading .panel-heading-btn.large-icons .fas {
    font-size: 145%;
}

.panel.panel-ls .panel-heading .panel-heading-btn {
    color: #fff;
}

.panel-body .form-row > .panel-footer {
    padding-bottom: 0;
}

.panel-footer .alert.result,
.btn-toolbar.sw-toolbar.sw-toolbar-bottom .alert {
    padding: 6px;
    margin: 0;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.vue-editor .ql-editor {
    border-radius: 5px;
    background-color: #e8e9ec;
}

.vue-editor .ql-toolbar.ql-snow .ql-formats svg {
    width: 18px;
    height: 18px;
}

.vtimeselector__clear__ico {
    font-size: 115%;
}

.vtimeselector__clear {
    width: 25px !important;
}

.vtimeselector__box {
    top: -9.7em !important;
    background: #e8e9ec !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.vue-tooltip .tooltip-arrow {
    display: none;
}

/**
 * Modal component
 */
.v-comp-modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.v-comp-modal .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.v-comp-modal .modal-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.v-comp-modal .modal-header h3 {
    margin-top: 0;
    color: #e52338;
    font-size: 20px;
}

.v-comp-modal .modal-body {
    margin: 0;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


@media all and (min-width: 1200px) and (max-width: 1350px) {
    .v-comp-add-property .col-xl-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.checkbox.checkbox-css.checkbox-inline + .checkbox.checkbox-css.checkbox-inline {
    margin-left: 0;
}

.checkbox.checkbox-css.checkbox-inline {
    margin-right: 15px;
}

a.btn[disabled] {
    pointer-events: none;
    background-color: gray;
    border-color: gray;
}

.no-resizable {
    resize: none;
}

/**
 * Article Box Item component
 */
.v-comp-article-box-item {
    margin-bottom: 30px;
}

.v-comp-article-box-item .box {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.v-comp-article-box-item .box .image {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.v-comp-article-box-item .box .image:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.v-comp-article-box-item .box .image:after {
    content: "";
    display: block;
    padding-bottom: 75%;
}

.v-comp-article-box-item .box .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.v-comp-article-box-item .box .image iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.v-comp-article-box-item .box .date {
    padding: 10px 15px;
    display: inline-block;
    background-color: #123953;
    position: absolute;
    top: 20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

@media (min-width: 768px) {
    .v-comp-article-box-item .box .date {
        top: 30px;
        left: 0;
        font-size: 16px;
    }
}

.v-comp-article-box-item .box .title {
    margin-top: 10px;
    max-height: 48px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
}

@media (min-width: 768px) {
    .v-comp-article-box-item .box .title {
        max-height: 60px;
    }
}

@media (max-width: 768px) {
    .v-comp-article-box-item .box .title {
        max-height: none;
    }
}

.v-comp-article-box-item .box .author {
    color: #e52338;
    max-height: 36px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .v-comp-article-box-item .box .author {
        max-height: 48px;
    }
}

.v-comp-article-box-item .box .author a,
.v-comp-article-box-item .box .author a:hover {
    color: #e52338;
    position: relative;
    text-decoration: underline;
    z-index: 1;
}

.v-comp-article-box-item .box .dsc {
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 54px;
    overflow: hidden;
    max-width: 100%;
}

@media (min-width: 768px) {
    .v-comp-article-box-item .box .dsc {
        max-height: 96px;
    }
}

.v-comp-article-box-item .box .btn {
    margin-top: auto;
    z-index: 1;
}

.v-comp-alerts-searches .no-data,
.v-comp-recent-insights .no-data,
.v-comp-recent-articles-panel .no-data {
    width: 300px;
    margin: 0 auto;
}

.v-comp-recent-articles-panel .link {
    color: #6D6D6D;
    position: absolute;
    top: 20px;
    right: 25px;
}

@media all and (max-width: 600px) {
    .v-comp-recent-articles-panel .panel-body > .link {
        position: static;
        display: inline-block;
        margin-bottom: 30px;
    }
}

.v-comp-dashboard .icon-box .icon-wrapper {
    background-color: #ECCC69;
    padding: 35px;
    color: #7D7D7D;
    display: flex;
    width: 9rem;
    justify-content: center;
}

.v-comp-dashboard .icon-box .icon-wrapper .icon {
    color: #fff;
    font-size: 5em;
    align-self: center;
}

.v-comp-dashboard .icon-box .icon-wrapper .icon-tr {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 14px;
    color: #fff;
    background-color: #123953;
    padding: 5px;
    border-radius: 25px;
    opacity: .9;
}

.v-comp-dashboard .icon-box .title {
    text-transform: uppercase;
    font-size: 17px;
    margin-bottom: 5px;
}

.v-comp-dashboard .icon-box .description {
    font-size: 12px;
    margin-bottom: 10px;
}

.v-comp-dashboard .icon-box .content-wrapper {
    padding: 20px 27px;
}

@media all and (max-width: 767px) {
    .v-comp-dashboard .icon-box .content-wrapper {
        padding: 20px 15px;
    }
}

.v-comp-dashboard .empty .icon-box .content-wrapper {
    min-height: 180px;
}

.v-comp-dashboard .icon-box.counter-box .title,
.v-comp-dashboard .icon-box.button-box .title {
    color: #ECCC69;
    font-size: 14px;
}

.v-comp-dashboard .icon-box.counter-box .counter {
    color: #6D6D6D;
    font-size: 4em;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
}

.v-comp-dashboard .icon-box.counter-box .link {
    color: #77A6D1;
    font-weight: 500;
    cursor: pointer;
}

.v-comp-dashboard .icon-box.button-box .btn {
    margin-top: 1rem;
}

.v-comp-dashboard .v-comp-property-enquiries h5,
.v-comp-dashboard .v-comp-business-enquiries h5 {
    font-size: 18px;
}

.v-comp-dashboard .image-box .panel {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    position: relative;
    color: #fff;
}

.v-comp-dashboard .image-box .panel .wrapper {
    height: 100%;
    background-color: #2125296b;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.v-comp-dashboard .image-box.properties .panel {
    background-image: url(/members/assets/image.jpg);
}

.v-comp-dashboard .image-box.services .panel {
    background-image: url(/members/assets/image2.jpg);
    background-position: 0 8%;
}

.v-comp-dashboard .image-box .icon-wrapper {
    font-size: 5em;
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

.v-comp-dashboard .image-box .content-wrapper {
    align-self: center;
    padding-left: 20px;
    padding-right: 20px;
}

.v-comp-dashboard .image-box .title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6em;
}

@media all and (max-width: 1410px) {
    .v-comp-dashboard .image-box .panel .wrapper {
        position: relative;
    }
}

@media all and (max-width: 760px) {
    .v-comp-dashboard .image-box .icon-wrapper {
        font-size: 3em;
    }
}


.v-comp-payment .stripe-logo {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
}

.v-comp-payment .StripeElement {
    padding: 10px 12px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    border-color: transparent;
    border-radius: 5px;
    background-color: #e8e9ec;
}

.v-comp-payment .StripeElement--focus:not(.StripeElement--invalid) {
    outline: 0;
    box-shadow: 0 0 0 0.125rem rgba(52, 142, 227, .3);
}

.v-comp-payment .StripeElement--invalid {
    border: 2px solid #dc3545;
}

.v-comp-payment .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

/**
 * Progress Bar Indeterminate component
 */
.v-comp-progress-bar-indeterminate {
    position: absolute;
    width: 100%;
    height: 5px;
    overflow-x: hidden;
}

.v-comp-progress-bar-indeterminate > .line {
    position: absolute;
    opacity: 0.4;
    background: #D03F42;
    width: 150%;
    height: 5px;
}

.v-comp-progress-bar-indeterminate > .sub-line {
    position: absolute;
    background: #D03F42;
    height: 5px;
}

.v-comp-progress-bar-indeterminate > .inc {
    animation: progress-bar-indeterminate-increase 2s infinite;
}

.v-comp-progress-bar-indeterminate > .dec {
    animation: progress-bar-indeterminate-decrease 2s 0.5s infinite;
}

@keyframes progress-bar-indeterminate-increase {
    from {
        left: -5%;
        width: 5%;
    }
    to {
        left: 130%;
        width: 100%;
    }
}

@keyframes progress-bar-indeterminate-decrease {
    from {
        left: -80%;
        width: 80%;
    }
    to {
        left: 110%;
        width: 10%;
    }
}

/**
 * Contact List Item component
 */
.v-comp-contact-list-item .action {
    position: absolute;
    top: 33px;
    cursor: pointer;
    left: 0;
    color: #fff !important;
}

@media all and (max-width: 767px) {
    .v-comp-contact-list-item .action {
        position: static;
    }
}

.snotifyToast.snotify-prompt.danger {
    background: #D03F42;
}
