.v-comp-loader {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 255, 255, .5);
    z-index: 1020;
    position: fixed;
}

.v-comp-loader .loading-image {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

.v-comp-loader .loading-image .circular {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px;
    width: 100px;
    animation: loader-rotate 2s linear infinite;
}

.v-comp-loader .loading-image .circular > .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: loader-dash 1.5s ease-in-out infinite, loader-color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes loader-color {
    100%, 0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%, 90% {
        stroke: #ffa700;
    }
}

.z-1000 {
    z-index: 1000;
}

[v-cloak] > * {
    display: none;
}

[v-cloak]::before {
    content: 'Loading…';
}

.w-150 {
    width: 150px !important;
}

.no-shadow {
    box-shadow: none !important;
}

.vue-simple-suggest .hover {
    background-color: #e52338;
    color: #fff;
}

.vue-simple-suggest .suggestions {
    opacity: 1;
}

.vue-simple-suggest-enter-active.suggestions,
.vue-simple-suggest-leave-active.suggestions {
    transition: opacity .2s;
}

.vue-simple-suggest-enter.suggestions,
.vue-simple-suggest-leave-to.suggestions {
    opacity: 0;
}

.vue-editor .ql-toolbar {
    padding: 0 !important;
    border: 0 !important;
}

.vue-editor .ql-editor,
.vue-editor .ql-container.ql-snow {
    border: 0 !important;
}

.category-list-group {
    margin: 0;
    padding: 1em .8em;
}

.v-comp-category-list-item {
    list-style-type: none;
    line-height: 2;
}

.v-comp-category-list-item span {
    font-weight: bold;
}

.v-comp-category-list-item a {
    cursor: pointer;
    color: #e52338 !important;
    margin-left: .6em;
}

.vuetable thead tr th {
    background-color: #EFEFEF;
    border-bottom: 0 !important;
    color: #626262;
}

.vuetable .vuetable-body .actions .action {
    font-size: 1.1em;
    margin: 0 4px;
    cursor: pointer;
}

.vuetable .vuetable-body .actions .action:hover {
    color: #aaa;
}

.vuetable thead .sort-icon {
    float: left !important;
    margin-right: 10px;
    top: 3px;
}

.vuetable tbody tr:first-child td {
    border-top: 0;
}

.vuetable-pagination .btn-nav {
    border: 0;
}

.vuetable-body-wrapper {
    overflow: auto;
}

.vuetable .vuetable-slot > .actions {
    white-space: nowrap;
}

/**
 * Responsive vuetable
 */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table.vuetable, .vuetable thead, .vuetable tbody, .vuetable th, .vuetable td, .vuetable tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .vuetable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .vuetable tr {
        border: 1px solid #ccc;
        border-bottom: 0;
    }

    .vuetable td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
    }

    .vuetable td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Remember to label the data ie.
        td:nth-of-type(1):before { content: "First Name"; }
    */
}

.snotifyToast__title {
    font-size: 1.3em;
}

.snotifyToast__body {
    font-size: .95em;
}

.snotifyToast__buttons button {
    cursor: pointer;
}

.snotify-icon {
    right: 20px;
    max-height: 30px;
    max-width: 30px;
}

/**
 * Pagination
 */
.page-link {
    margin: 0 1px;
    border-radius: 5px;
}

.page-link.active {
    color: #fff !important;
    font-weight: bold;
    background-color: #e52338;
}

.page-link:disabled,
.page-link.disabled {
    pointer-events: none;
    opacity: .5;
}

/**
 * Custom check
 */
.form-row.customcheck {
    margin-right: -5px;
    margin-bottom: 5px;
    margin-left: -5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-row.customcheck .form-check {
    margin-bottom: 10px;
}

.form-row.customcheck > .col, .form-row.customcheck > [class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-row > .col, .form-row > [class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

@media (min-width: 768px) {
    .form-row.customcheck label {
        min-height: 80px;
    }
}

.form-row.customcheck label {
    padding: 5px 10px;
    width: 100%;
    min-height: 80px;
    height: 100%;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.form-row.customcheck img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.form-row.customcheck span {
    position: relative;
    color: #fff;
    line-height: normal;
    z-index: 1;
}

.form-row.customcheck label:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #123953;
    opacity: .6;
}

.form-row.customcheck input:checked + label:after {
    opacity: 1;
}

.form-row.customcheck input:checked ~ label span:before {
    content: "\f00c";
    margin-bottom: 5px;
    display: block;
    font-size: 20px;
    line-height: 1;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
    transition: opacity .25s;
}

.fade-fast-enter,
.fade-fast-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.pretty-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.pretty-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(102, 102, 102, .1);
}
