.v-comp-login-form .invalid-feedback {
    position: absolute;
}

.v-comp-register-form {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.v-comp-register-form .step {
    -webkit-box-shadow: 5px 25px 35px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 25px 35px rgba(0, 0, 0, 0.25);
}

.v-comp-register-form .collapse:not(.show) {
    display: block;
}

@keyframes slideFadeOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes slideFadeInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.v-comp-register-form .step {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.v-comp-register-form .invalid-feedback {
    position: absolute;
}

.v-comp-register-form #register-form-step-1 .form-group {
    margin-bottom: 23px;
}

.v-comp-register-form .options-feedback {
    display: block;
    font-size: 100%;
    left: 0;
}

.v-comp-register-form .btn i {
    max-width: inherit;
    opacity: 1;
}

.v-comp-register-form .slide-fade-leave-active {
    -webkit-animation-name: slideFadeOutLeft;
    animation-name: slideFadeOutLeft;
}

.v-comp-register-form .slide-fade-enter-active {
    -webkit-animation-name: slideFadeInRight;
    animation-name: slideFadeInRight;
}

.v-comp-login-form .signin.forgot {
    margin-bottom: 8px;
}

.v-comp-forgot-password-form,
.v-comp-email-verification-form {
    padding: 0 30px;
}

.v-comp-forgot-password-form p.info,
.v-comp-email-verification-form p.info,
.v-comp-reset-password-form p.info {
    margin-left: 1em;
}

/*
 * Extra section on the bottom in register page
 */
.account .text .slogan {
    margin-bottom: 30px !important;
}

.account .text .slogan .image:after {
    background-color: #E52338;
}

.account .text .heading-full {
    color: #123953;
    font-weight: 600;
    margin-top: 15px;
    font-size: 1.6rem;
}

.account .plans {
    margin-top: 20px;
    margin-bottom: 10px;
}

.account .plans .box {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.account .plans .box .header {
    font-size: 1.55rem;
    color: #123953;
    font-weight: 600;
}

.account .plans .box .description {
    font-size: 90%;
    min-height: 130px;
}

.account .plans .box .plan {
    position: relative;
    background: linear-gradient(0deg, rgba(18, 57, 83, 0.74), rgba(18, 57, 83, 0.74)), url("/members/assets/image.jpg");
    background-size: cover;
    text-align: center;
    padding: 25px 15px;
}

.account .plans .box .plan img {
    max-width: 80%;
    margin-bottom: 20px;
}

.account .plans .box .plan span {
    display: inline-block;
    width: 100%;
    color: #fff;
    font-size: 1rem;
}

.account .accordion .step1image {
    background-image: url("/members/assets/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

.account .accordion .step1image > .text {
    position: relative;
    color: #fff;
    font-family: "Work Sans", sans-serif;
    font-size: 1.65em;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.account .accordion .step1image > .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .account .plans .box .description {
        font-size: 100%;
        min-height: auto;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .account .heading.extra {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .account .plans .box .description {
        min-height: 170px;
    }
}

@media (min-width: 768px) {
    .box.col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%;
    }
}

@media (min-width: 1600px) {
    .box.col-xxl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
        max-width: 22%;
    }
}
