<?= $this->Form->create($staticContentGroup) ?>
<?= $this->element('Structure/action-buttons') ?>
<div class="row">
    <div class="col-12"><?= $this->Form->control('name'); ?></div>
</div>
<?= $this->element('Structure/action-buttons') ?>
<?= $this->Form->end() ?>
