<?= $this->Form->create($staticContentGroup) ?>
<?= $this->element('Structure/action-buttons', ['cancelUrl' => ['action' => 'view', $staticContentGroup->id]]) ?>
<div class="row">
    <div class="col-12"><?= $this->Form->control('name'); ?></div>
</div>
<?= $this->element('Structure/action-buttons', ['cancelUrl' => ['action' => 'view', $staticContentGroup->id]]) ?>
<?= $this->Form->end() ?>
