.middle-box {
    padding-bottom: 40px;
}
.debug {
    padding: 50px 0;
    background: #676a6c;
    color: #e0e0e0;
    h2 {
        color: #ffffff;
    }
    .list-group-item {
        border-top: 0;
        border-bottom: 0;
        border-right: 0;
        border-left: 5px solid #828587;
        border-radius: 0;
    }
    .error-message {
        margin-bottom: 20px;
    }
    .error-trace {
        margin-bottom: 20px;
        .h4 {
            color: #ffffff;
        }
    }
    .error-info {
        h3, strong {
            font-weight: normal;
        }
    }
}