$color-primary:     #02a8f3;

$color-link:        #333333;
$color-link-hover:  $color-primary;

$color-light-gray:  #dadada;
$color-nav-border:  #e7eaec;

$color-bg-grey:     #f3f3f4;

$mobile:        "(max-width: 767px)"; 
$tablet:        "(min-width: 768px) and (max-width: 991px)";
$desktop:       "(min-width: 992px) and (max-width: 1200px)";
$desktop-xl:    "(min-width: 1201px) and (max-width: 1359px)";
$desktop-xxl:   "(min-width: 1360px)"; 