/**
 eConnect4u
*/
/* 
    Created on : 2016-04-06, 08:38:25
    Author     : Stefan
*/
@import 'variables';
@import 'debug';

a {
    color: $color-link;
    &:hover {
        color: $color-link-hover;
    }
}

.marg-l {
    margin-left: 30px;
}
.marg-r {
    margin-right: 30px;
}
.marg-t {
    margin-top: 30px;
}
.marg-b {
    margin-bottom: 30px;
}
.marg-b-sm {
    margin-bottom: 15px;
}

.splash-bg {
    background-image: url(../img/splash.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.md-skin {
    .nav-sm {
        li {
            a {
                margin-right: 0;
                padding: 8px 20px 8px 25px;
            }
        }
    }
}

.nav-tabs {
    li {
        a {
            padding: 10px 15px 10px 15px;
        }
    }
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0px !important;
}

.form-group.file {
    box-shadow: none;
    margin-right: 0;
    background: none;
    border: none;
}

#page-wrapper {
    .wrapper {
        position: relative;
        z-index: 10;
        padding: 10px 0px 10px 0px;
        &.wrapper-content {
            margin-top: 10px;
        }
    }
    .footer {
        position: relative;
        z-index: 1;
        margin: 0 -15px;
    }
    .navbar-fixed-top, .navbar-static-top{
        background-color: white;
    }
}

body {
    &.background-brand {
        /*background: url(../img/bg.jpg) no-repeat center center; //login page backgound image*/
        background-size: cover;
    }
    &.full-height-layout {
        #wrapper, #page-wrapper {
            height: auto;
        }
    }
}

.logo-name {
    width: 100%;
    height: 100px;
    margin-bottom: 60px;
    background: url(../img/logo.svg) no-repeat center center; //login page logo image
    background-size: contain;
    text-indent: -9999px;
}


.logo-element {
    padding: 0;
    img {
        max-width: 100%;
    }
}

.actions {
    text-align: right;
}

.nav-sorting {
    margin-bottom: 20px;
    li {
        a {
            padding: 7px 15px 7px 15px !important;
            background: #ffffff;
            border: 1px solid $color-nav-border;
            &.asc:after {
                font-family: FontAwesome;
                content: " \f176";
            }
            &.desc:after {
                font-family: FontAwesome;
                content: " \f175";
            }
        }
    }
}

.ibox-content {
    padding: 15px;
    border-width: 3px 0;
    .btn-group {
        .btn-danger {
            border-left-color: #ffffff;
        }
    }
}
.ibox-title {
    padding: 15px 20px 20px 20px;
}
.ibox-tools {
    a {
        &.btn-warning {
            color: #ffffff;
        }
    }
}

.file-edit {
    .icon {
        color: $color-light-gray;
        text-align: center;
        font-size: 120px;
    }
    .description {
        text-align: center;
    }
}

.image-centered {
    position: relative;
    height: 275px;
    display: block;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    & > img, & > a > img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
}

.nestable {
    .dd-item {
        & > button {
            font-family: FontAwesome;
            width: 33px;
            height: 34px;
            margin-left: 30px;
            margin-right: 8px;
            margin-bottom: 0;
            color: #c1c1c1;
            &:before {
                content: "\f067";
            }
            &[data-action="collapse"]:before {
                content: "\f068";
            }
        }
    }
    .dd-handle-custom {
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        width: 30px;
        height: 42px;
        margin: 0;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        color: #ddd;
        cursor: pointer;
        font-family: FontAwesome;
        &:before {
            content: "\f0c9";
            display: block;
            position: absolute;
            left: 0;
            top: px;
            width: 100%;
            line-height: 42px;
            text-align: center;
            text-indent: 0;
            color: #dddddd;
            font-size: 16px;
            font-weight: normal;
        }
    }
    .dd-content {
        display: block;
        height: auto;
        margin: 5px 0;
        padding: 5px 10px 5px 40px;
        border: 1px dashed $color-nav-border;
        background: #f3f3f4;
        color: inherit;
        text-decoration: none;
        border-radius: 3px;
        box-sizing: border-box;
        &:hover {
            background: #f8f8f8;
        }
    }
    span.label {
        margin-right: 10px;
    }
}

.page-details {
    text-align: right;
}
.page-name {
    display: block;
    line-height: 28px;
    font-size: 16px;
    font-weight: normal;
}
.page-layout {
    float: right;
    display: inline-block;
    font-weight: normal;
    @media #{$mobile} {
        float: none;
    }
}
.page-actions {
    float: right;
    display: block;
    margin-left: 20px;
}
.page-contents {
    display: block;
    font-size: 13px;
    .page-content{
        display: block;
    }
    .content-type {
        display: inline-block;
        min-width: 60px;
        font-size: 12px;
        cursor: help;
    }
}

.element-details {
    dt, dd {
        margin-bottom: 5px;
    }
}

.latestJobApplications{
    li a{
        padding: 3px 2px !important;
    } 
}
.feed-activity-list .feed-element{
    min-height: 60px;
}
.dashboardPanel .ibox-content{
    min-height: 445px;
}
.file{
    .file-name{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        height: 74px;
        a:first-child{
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 160px;
        }

    }
}


.error{ 
    padding:80px 0px;
    text-align:center;
    position:relative;
    .error-code{
        font-size:24em;
        color:$color-primary ;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.1;
        position: absolute;
        @media(max-width:550px){
            font-size:18em;
        }
        @media(max-width:400px){
            font-size:15em;
        }
    }
    .error-content{
        position:relative;
        .error-message{
            color:white ;
            h1{
                font-size:4em;
            }
        }
        .error-desc{
            margin-top:20px;
            color:white ;
            font-size:1.3em;
        }
        .error-button{
            margin-top:40px;
        }
    }
}

.table > tbody > tr:hover {
    background-color: #f5f5f5;
}

.galleries {
    .shortcuts {
        margin-bottom: 10px;
        span, small {
            display: block;
        }
    }
}

.emailElement{
    margin-right:15px;
    margin-bottom:15px;
}
.mainEmails,.ccEmail,.bccEmails{
    margin-bottom:15px;
}

/*----------Code mirror override ---------*/
.CodeMirror{
    min-height:500px;
}

/* ------------------Static content -------------------*/
.staticContent{
    display:none;
}

/* ----------------- Form builder --------------------*/
.formBuilderTable {
    .form-group{
        margin-bottom:0px;
    }
    .position{
        max-width:60px;
    }
    .btn-xs{
        position:relative;
        top:5px;
    }
    td{
        text-align:center;
    }
    .optionsButton{
        display:none;
    }

}
.modal-body{
    padding: 20px 10px;
}
.formsDataList{
    .not_view td{
        font-weight: bold;
    }
}

.page-section{
    .page-content{
        margin-top: 15px;
        .page-title{
            padding: 15px 0px;
            background-color: white;
            border: 1px solid $color-nav-border;
            position:relative;
            top: 1px;
            border-top: 3px solid $color-nav-border;
            border-right:0px;
            border-left:0px;
            .preview{
                margin-left: 15px;
                display:inline;
            }
            h4{
                font-size: 14px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        .tabs-container{ 
            .panel-body{
                border-right:0px;
            }
            .tabs-left {
                .tab-title{
                    padding: 10px 15px;
                    background-color: $color-nav-border;
                    color: $color-link;
                    border-radius: 0px 0px 0px 0px;
                    font-weight: 600;
                    &:hover{
                        cursor: pointer;
                        background-color: darken($color-nav-border,5%);
                    }
                    .caret{
                        float:right;
                        position: relative;
                        top: 7px;
                        &.reversed{
                            transform: rotate(180deg);
                        }
                    }
                }
                & > .nav-tabs {
                    border-bottom: 1px solid $color-nav-border;
                    background: rgba(255,255,255,0.6);
                    margin-right:0px;
                    & > li {
                        transition:0s;
                        a {
                            margin-bottom: 0;
                            border-radius: 0px;
                            border-left: 1px solid transparent;
                        }
                    }
                    .active > a {
                        color: $color-primary;
                    }
                }
            }
        }
        .btn-group.btn-block {
            @media (max-width: 992px) {
                margin-bottom: 15px;
            }
        }
    }
    .page-footer{
        margin-top: 15px;
    }
}

.btn-block {
    .dropdown-menu {
        width: 100%;
    }
}

/*header sidebar*/
.breadcrumb {
    margin-left:15px;
    &.nav.navbar-top-links a{
        display:inline-block;
        padding: 15px 0px;
    } 
}
.nav.navbar-top-links a{
    padding-top:15px;
    padding-bottom: 15px;
}
.nav-header {
    .text-muted {
        font-size: 10px;
    }
}
.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 10px 5px 5px 15px;
    font-size: 14px;
    float: left;
}
.searchButton{
    padding: 7px 10px 6px 10px;
}

.media {
    margin-top: 0;
    h2 {
        margin-bottom: 0;
    }
    .breadcrumb {
        margin-left: 0;
    }
    .h4 {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color-nav-border;
    }
}

/*VISUAL COMPOSER*/
#visual-composer-modal{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: auto;
    display:none;
    min-height:2000px;
    z-index:1000;
    .visual-composer-header{
        border-bottom: 1px solid #eeeeee;
        padding: 10px 15px;
        position: fixed;
        background-color: white;
        width: 100%;
        z-index: 1;
        h2{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 7px;
        }
    }
    .visual-composer-body{
        padding: 50px;
        #contentarea{
                margin: 90px auto;
                max-width: 1050px;
                width: 100%;
                padding: 0 35px;
                box-sizing: border-box;
        }
    }
    .row-tool{
        left: -48px;
    }
}

.lightBoxGallery{
    list-style: none !important;
    border: none;
    outline :none;
    padding: 0;
    text-align: left;
    .ui-state-default{
        display: inline-block;
        width: 140px;
        height: 130px;
        margin: 5px;
        border: none;
        .file-box {
            width: 100%;
            .file {
                margin: 0;
            }
        }
    }
    .file-name{
        height: 50px;
    }
}

.restored-size{
    height: 500px;
    overflow: auto;
}

.progress {
    &.progress-session {
        margin: 0 -15px;
        height: 1px;
        background: $color-bg-grey;
        .progress-bar {
            float: none;
            background: $color-primary;
        }
    }
}
.diffWrapper{
    .diff{
        outline: 1px solid #f0f0f0;
        height: 499px;
        overflow: auto;
        cursor: none;
    }
}
.hid{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: -10002;
}
.vis{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 10002;
    background-color: #f3f3f4;
}
