/**
 eConnect4u
*/
/* 
    Created on : 2016-04-06, 08:38:25
    Author     : Stefan
*/
.middle-box {
    padding-bottom: 40px; }

.debug {
    padding: 50px 0;
    background: #676a6c;
    color: #e0e0e0; }
.debug h2 {
    color: #ffffff; }
.debug .list-group-item {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 5px solid #828587;
    border-radius: 0; }
.debug .error-message {
    margin-bottom: 20px; }
.debug .error-trace {
    margin-bottom: 20px; }
.debug .error-trace .h4 {
    color: #ffffff; }
.debug .error-info h3, .debug .error-info strong {
    font-weight: normal; }

a {
    color: #333333; }
a:hover {
    color: #02a8f3; }

.marg-l {
    margin-left: 30px; }

.marg-r {
    margin-right: 30px; }

.marg-t {
    margin-top: 30px; }

.marg-b {
    margin-bottom: 30px; }

.marg-b-sm {
    margin-bottom: 15px; }

.splash-bg {
    background-image: url(../img/splash.png);
    background-repeat: no-repeat;
    background-position: right top; }

.md-skin .nav-sm li a {
    margin-right: 0;
    padding: 8px 20px 8px 25px; }

.nav-tabs li a {
    padding: 10px 15px 10px 15px; }

.form-group.file {
    box-shadow: none;
    margin-right: 0;
    background: none;
    border: none; }
.form-check-input {
    display: block;
    margin-left: 20rem;
}
#page-wrapper .wrapper {
    position: relative;
    z-index: 10;
    padding: 10px 0px 10px 0px; }
#page-wrapper .wrapper.wrapper-content {
    margin-top: 10px; }
#page-wrapper .footer {
    position: relative;
    z-index: 1;
    margin: 0 -15px; }
#page-wrapper .navbar-fixed-top, #page-wrapper .navbar-static-top {
    background-color: white; }

body.background-brand {
    /*background: url(../img/bg.jpg) no-repeat center center; //login page backgound image*/
    background-size: cover; }
body.full-height-layout #wrapper, body.full-height-layout #page-wrapper {
    height: auto; }

.logo-name {
    width: 100%;
    height: 100px;
    margin-bottom: 60px;
    background: url(../img/logo.svg) no-repeat center center;
    background-size: contain;
    text-indent: -9999px; }

.logo-element {
    padding: 0; }
.logo-element img {
    max-width: 100%; }

.actions {
    text-align: right; }

.nav-sorting {
    margin-bottom: 20px; }
.nav-sorting li a {
    padding: 7px 15px 7px 15px !important;
    background: #ffffff;
    border: 1px solid #e7eaec; }
.nav-sorting li a.asc:after {
    font-family: FontAwesome;
    content: " \f176"; }
.nav-sorting li a.desc:after {
    font-family: FontAwesome;
    content: " \f175"; }

.ibox-content {
    padding: 15px;
    border-width: 3px 0; }
.ibox-content .btn-group .btn-danger {
    border-left-color: #ffffff; }

.ibox-title {
    padding: 15px 20px 20px 20px; }

.ibox-tools a.btn-warning {
    color: #ffffff; }

.file-edit .icon {
    color: #dadada;
    text-align: center;
    font-size: 120px; }
.file-edit .description {
    text-align: center; }

.image-centered {
    position: relative;
    height: 275px;
    display: block;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
.image-centered > img, .image-centered > a > img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%; }

.nestable .dd-item > button {
    font-family: FontAwesome;
    width: 33px;
    height: 34px;
    margin-left: 30px;
    margin-right: 8px;
    margin-bottom: 0;
    color: #c1c1c1; }
.nestable .dd-item > button:before {
    content: "\f067"; }
.nestable .dd-item > button[data-action="collapse"]:before {
    content: "\f068"; }
.nestable .dd-handle-custom {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 30px;
    height: 42px;
    margin: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: #ddd;
    cursor: pointer;
    font-family: FontAwesome; }
.nestable .dd-handle-custom:before {
    content: "\f0c9";
    display: block;
    position: absolute;
    left: 0;
    top: px;
    width: 100%;
    line-height: 42px;
    text-align: center;
    text-indent: 0;
    color: #dddddd;
    font-size: 16px;
    font-weight: normal; }
.nestable .dd-content {
    display: block;
    height: auto;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    border: 1px dashed #e7eaec;
    background: #f3f3f4;
    color: inherit;
    text-decoration: none;
    border-radius: 3px;
    box-sizing: border-box; }
.nestable .dd-content:hover {
    background: #f8f8f8; }
.nestable span.label {
    margin-right: 10px; }

.page-details {
    text-align: right; }

.page-name {
    display: block;
    line-height: 28px;
    font-size: 16px;
    font-weight: normal; }

.page-layout {
    float: right;
    display: inline-block;
    font-weight: normal; }
@media (max-width: 767px) {
    .page-layout {
        float: none; } }

.page-actions {
    float: right;
    display: block;
    margin-left: 20px; }

.page-contents {
    display: block;
    font-size: 13px; }
.page-contents .page-content {
    display: block; }
.page-contents .content-type {
    display: inline-block;
    min-width: 60px;
    font-size: 12px;
    cursor: help; }

.element-details dt, .element-details dd {
    margin-bottom: 5px; }

.latestJobApplications li a {
    padding: 3px 2px !important; }

.feed-activity-list .feed-element {
    min-height: 60px; }

.dashboardPanel .ibox-content {
    min-height: 445px; }

.file .file-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 74px; }
.file .file-name a:first-child {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 160px; }

.error {
    padding: 80px 0px;
    text-align: center;
    position: relative; }
.error .error-code {
    font-size: 24em;
    color: #02a8f3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    position: absolute; }
@media (max-width: 550px) {
    .error .error-code {
        font-size: 18em; } }
@media (max-width: 400px) {
    .error .error-code {
        font-size: 15em; } }
.error .error-content {
    position: relative; }
.error .error-content .error-message {
    color: white; }
.error .error-content .error-message h1 {
    font-size: 4em; }
.error .error-content .error-desc {
    margin-top: 20px;
    color: white;
    font-size: 1.3em; }
.error .error-content .error-button {
    margin-top: 40px; }

.table > tbody > tr:hover {
    background-color: #f5f5f5; }

.galleries .shortcuts {
    margin-bottom: 10px; }
.galleries .shortcuts span, .galleries .shortcuts small {
    display: block; }

.emailElement {
    margin-right: 15px;
    margin-bottom: 15px; }

.mainEmails, .ccEmail, .bccEmails {
    margin-bottom: 15px; }

/*----------Code mirror override ---------*/
.CodeMirror {
    min-height: 500px; }

/* ------------------Static content -------------------*/
.staticContent {
    display: none; }

/* ----------------- Form builder --------------------*/
.formBuilderTable .form-group {
    margin-bottom: 0px; }
.formBuilderTable .position {
    max-width: 60px; }
.formBuilderTable .btn-xs {
    position: relative;
    top: 5px; }
.formBuilderTable td {
    text-align: center; }
.formBuilderTable .optionsButton {
    display: none; }

.modal-body {
    padding: 20px 10px; }

.formsDataList .not_view td {
    font-weight: bold; }

.page-section .page-content {
    margin-top: 15px; }
.page-section .page-content .page-title {
    padding: 15px 0px;
    background-color: white;
    border: 1px solid #e7eaec;
    position: relative;
    top: 1px;
    border-top: 3px solid #e7eaec;
    border-right: 0px;
    border-left: 0px; }
.page-section .page-content .page-title .preview {
    margin-left: 15px;
    display: inline; }
.page-section .page-content .page-title h4 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px; }
.page-section .page-content .tabs-container .panel-body {
    border-right: 0px; }
.page-section .page-content .tabs-container .tabs-left .tab-title {
    padding: 10px 15px;
    background-color: #e7eaec;
    color: #333333;
    border-radius: 0px 0px 0px 0px;
    font-weight: 600; }
.page-section .page-content .tabs-container .tabs-left .tab-title:hover {
    cursor: pointer;
    background-color: #d9dee1; }
.page-section .page-content .tabs-container .tabs-left .tab-title .caret {
    float: right;
    position: relative;
    top: 7px; }
.page-section .page-content .tabs-container .tabs-left .tab-title .caret.reversed {
    transform: rotate(180deg); }
.page-section .page-content .tabs-container .tabs-left > .nav-tabs {
    border-bottom: 1px solid #e7eaec;
    background: rgba(255, 255, 255, 0.6);
    margin-right: 0px; }
.page-section .page-content .tabs-container .tabs-left > .nav-tabs > li {
    transition: 0s; }
.page-section .page-content .tabs-container .tabs-left > .nav-tabs > li a {
    margin-bottom: 0;
    border-radius: 0px;
    border-left: 1px solid transparent; }
.page-section .page-content .tabs-container .tabs-left > .nav-tabs .active > a {
    color: #02a8f3; }
@media (max-width: 992px) {
    .page-section .page-content .btn-group.btn-block {
        margin-bottom: 15px; } }
.page-section .page-footer {
    margin-top: 15px; }

.btn-block .dropdown-menu {
    width: 100%; }

/*header sidebar*/
.breadcrumb {
    margin-left: 15px; }
.breadcrumb.nav.navbar-top-links a {
    display: inline-block;
    padding: 15px 0px; }

.nav.navbar-top-links a {
    padding-top: 15px;
    padding-bottom: 15px; }

.nav-header .text-muted {
    font-size: 10px; }

.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 10px 5px 5px 15px;
    font-size: 14px;
    float: left; }

.searchButton {
    padding: 7px 10px 6px 10px; }

.media {
    margin-top: 0; }
.media h2 {
    margin-bottom: 0; }
.media .breadcrumb {
    margin-left: 0; }
.media .h4 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7eaec; }

/*VISUAL COMPOSER*/
#visual-composer-modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: auto;
    display: none;
    min-height: 2000px;
    z-index: 1000; }
#visual-composer-modal .visual-composer-header {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 15px;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1; }
#visual-composer-modal .visual-composer-header h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px; }
#visual-composer-modal .visual-composer-body {
    padding: 50px; }
#visual-composer-modal .visual-composer-body #contentarea {
    margin: 90px auto;
    max-width: 1050px;
    width: 100%;
    padding: 0 35px;
    box-sizing: border-box; }
#visual-composer-modal .row-tool {
    left: -48px; }

.lightBoxGallery {
    list-style: none !important;
    border: none;
    outline: none;
    padding: 0;
    text-align: left; }
.lightBoxGallery .ui-state-default {
    display: inline-block;
    width: 140px;
    height: 130px;
    margin: 5px;
    border: none; }
.lightBoxGallery .ui-state-default .file-box {
    width: 100%; }
.lightBoxGallery .ui-state-default .file-box .file {
    margin: 0; }
.lightBoxGallery .file-name {
    height: 50px; }

.restored-size {
    height: 500px;
    overflow: auto; }

.progress.progress-session {
    margin: 0 -15px;
    height: 1px;
    background: #f3f3f4; }
.progress.progress-session .progress-bar {
    float: none;
    background: #02a8f3; }

.diffWrapper .diff {
    outline: 1px solid #f0f0f0;
    height: 499px;
    overflow: auto;
    cursor: none; }

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left: 0px !important;
}
.hid {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10002; }

.vis{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 10002;
    background-color: #f3f3f4; }

.picker{
    margin-right:10px;
    margin-left:5px;
}

/*# sourceMappingURL=panel-styles.css.map */
.fm-modal {
    border: 0 none;
    box-shadow: 0 1px 5px 0 #656565;
    height: 80%;
    left: 10%;
    position: fixed;
    top: 10%;
    width: 80%;
    z-index: 10011;
}
th.actions {
    min-width: 100px;  
}
