/* Theme - Blue */

.navbar-logo,
.coming-soon .brand .logo,
.login .login-header .brand .logo {
	border-color: $blue_lighter $blue $blue_darker;
}
.sidebar .nav > li.active > a, 
.sidebar .nav > li.active > a:focus, 
.sidebar .nav > li.active > a:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top {
	background: $blue;
}
.navbar.navbar-inverse .navbar-brand {
	color: #fff !important;
}
.text-theme,
.sidebar .sub-menu > li.active > a:before {
	color: $blue;
}
$media (max-width: 767px) {
	.navbar-inverse .navbar-header {
		background: $blue;
	}
}
.gradient-enabled .navbar.navbar-inverse .navbar-brand,
.gradient-enabled .sidebar .nav > li.active > a, 
.gradient-enabled .sidebar .nav > li.active > a:focus, 
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, 
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top,
.gradient-enabled .top-menu .nav > li.active > a, 
.gradient-enabled .top-menu .nav > li.active > a:focus, 
.gradient-enabled .top-menu .nav > li.active > a:hover {
	background: $blue_lighter; /* Old browsers */
	background: -moz-linear-gradient(top,  $blue_lighter 0%, #1e88e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  $blue_lighter 0%,#1e88e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  $blue_lighter 0%,#1e88e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$blue_lighter}', endColorstr='#1e88e5',GradientType=0 ); /* IE6-9 */
}
.pace-progress {
	background: $blue;
}
.pace .pace-activity {
	border-top-color: $blue;
	border-left-color: $blue;
}
.page-with-light-sidebar .sidebar .nav > li.active > a > i {
	color: $blue;
}
.page-with-light-sidebar .sidebar .nav > li.active > a .badge,
.page-with-light-sidebar .sidebar .nav > li.active > a .label.label-theme {
	background: $blue;
}
.top-menu .nav > li.active > a, 
.top-menu .nav > li.active > a:focus, 
.top-menu .nav > li.active > a:hover {
	background: $blue;
}